<?xml version="1.0" encoding="utf-8"?>
<Media Key="50150bc3-1505-4c06-8142-b6df4dbf5ec9" Alias="AartaProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/AartaProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="AartaProf.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jtafhztm/aartaprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>