<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1e12c36-e986-435d-8037-7b89fb815541" Alias="AcolyteMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/AcolyteMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:51:13</CreateDate>
    <NodeName Default="AcolyteMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xhtkob5p/acolytemain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>