<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d4b0b4f-e087-43e2-98be-d4d3439de756" Alias="AksisProf.jpg" Level="4">
  <Info>
    <Parent Key="6e141087-cae9-4141-9cf4-c40ad3dc2fd9">Splicers</Parent>
    <Path>/Destiny/Fallen/Splicers/AksisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T10:41:55</CreateDate>
    <NodeName Default="AksisProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ydab1c5o/aksisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>