<?xml version="1.0" encoding="utf-8"?>
<Media Key="f00205f5-8cab-488a-931a-2459cdb0276b" Alias="AlaktorAscProf.jpg" Level="4">
  <Info>
    <Parent Key="cadfcc87-876d-436e-ad8d-b3515772e499">Fatesmiths</Parent>
    <Path>/Destiny/Hive/Fatesmiths/AlaktorAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:50:00</CreateDate>
    <NodeName Default="AlaktorAscProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/plhfirwc/alaktorascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>