<?xml version="1.0" encoding="utf-8"?>
<Media Key="400046a6-3dcb-426b-97a5-b7a4a343b3ce" Alias="Alak-Hul" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/AlakHul</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:16:59</CreateDate>
    <NodeName Default="Alak-Hul" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>