<?xml version="1.0" encoding="utf-8"?>
<Media Key="5db011d8-cddd-444c-8bbf-08aad87ad5bc" Alias="AlakHulProf.jpg" Level="4">
  <Info>
    <Parent Key="400046a6-3dcb-426b-97a5-b7a4a343b3ce">Alak-Hul</Parent>
    <Path>/Destiny/CourtOfOryx/AlakHul/AlakHulProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:16:59</CreateDate>
    <NodeName Default="AlakHulProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k5npn03u/alakhulprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>