<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4fce045-bca4-444d-9321-ecb4c5c3ce08" Alias="AlakHulMain.jpg" Level="4">
  <Info>
    <Parent Key="400046a6-3dcb-426b-97a5-b7a4a343b3ce">Alak-Hul</Parent>
    <Path>/Destiny/CourtOfOryx/AlakHul/AlakHulMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:16:59</CreateDate>
    <NodeName Default="AlakHulMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zivlu2wn/alakhulmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>