<?xml version="1.0" encoding="utf-8"?>
<Media Key="6022f15f-693e-44a3-9f5d-1b8f12d0e4aa" Alias="AlzokProf.jpg" Level="4">
  <Info>
    <Parent Key="e6119f40-9660-48fc-aeb4-303dd31cffd5">Däl</Parent>
    <Path>/Destiny/CourtOfOryx/Dael/AlzokProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T19:19:48</CreateDate>
    <NodeName Default="AlzokProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0a3hjvsx/alzokprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>