<?xml version="1.0" encoding="utf-8"?>
<Media Key="6698e54f-f495-4356-9881-db78a8ee360c" Alias="Ascendants" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/Ascendants</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-25T13:43:32</CreateDate>
    <NodeName Default="Ascendants" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>