<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdd6d962-7e0a-4c2a-85ca-b3352ab6dbeb" Alias="AscendantsAscGroup.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/AscendantsAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-23T18:00:10</CreateDate>
    <NodeName Default="AscendantsAscGroup.jpg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ujjac1d/ascendantsascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>