<?xml version="1.0" encoding="utf-8"?>
<Media Key="629e7ff5-65d7-4a30-b55f-b86eeeea4e77" Alias="AsuraMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/AsuraMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:51</CreateDate>
    <NodeName Default="AsuraMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pk0nrvf4/asuramain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>