<?xml version="1.0" encoding="utf-8"?>
<Media Key="81353635-9bf4-4146-96c7-d6270d6a529b" Alias="AtheonProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/AtheonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:40:55</CreateDate>
    <NodeName Default="AtheonProf.jpg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xl4hgn23/atheonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>