<?xml version="1.0" encoding="utf-8"?>
<Media Key="aede9ac6-84a9-4420-8b27-cfaff16a5282" Alias="BaimoggMatProf.jpg" Level="5">
  <Info>
    <Parent Key="dfc2777c-4b39-4f0b-a8e1-ce4f5128d77d">Chimeras</Parent>
    <Path>/Destiny/Hive/Ascendants/Chimeras/BaimoggMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:42</CreateDate>
    <NodeName Default="BaimoggMatProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jfijqgga/baimoggmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>