<?xml version="1.0" encoding="utf-8"?>
<Media Key="2558702e-37d5-4a60-b248-10b960bb53a2" Alias="BalwurMain.jpg" Level="4">
  <Info>
    <Parent Key="f7e55e0b-b3bd-4d1a-8a64-830bb1f9e953">Balwur</Parent>
    <Path>/Destiny/CourtOfOryx/Balwur/BalwurMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T19:49:09</CreateDate>
    <NodeName Default="BalwurMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ug3b3e32/balwurmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>