<?xml version="1.0" encoding="utf-8"?>
<Media Key="274ab1a2-2c82-4999-8d31-a52a500516ea" Alias="BanukUrMatMain.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/BanukUrMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-04T23:37:29</CreateDate>
    <NodeName Default="BanukUrMatMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fv3bzepl/banukurmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>