<?xml version="1.0" encoding="utf-8"?>
<Media Key="4cc225fb-0b62-4924-9eb9-6475d3ba0c87" Alias="Barons" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/Barons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-18T16:08:38</CreateDate>
    <NodeName Default="Barons" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>