<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc3e9c8c-bcd9-42bc-8545-1316597ee4d1" Alias="BaxxHandAscProf.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/BaxxHandAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T17:43:40</CreateDate>
    <NodeName Default="BaxxHandAscProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/anlhq4vq/baxxhandascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>