<?xml version="1.0" encoding="utf-8"?>
<Media Key="a03b577c-0189-449c-9181-f1b40232e883" Alias="BaxxHandMain.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/BaxxHandMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T14:40:03</CreateDate>
    <NodeName Default="BaxxHandMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4ooh0fxa/baxxhandmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>