<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c8bc9df-84fe-423c-a607-30e992211c1c" Alias="BelmonProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/BelmonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:25:16</CreateDate>
    <NodeName Default="BelmonProf.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kabn1oux/belmonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>