<?xml version="1.0" encoding="utf-8"?>
<Media Key="36de36bc-4a44-4365-a3ab-b203887d4147" Alias="BlightedProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/BlightedProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:44:31</CreateDate>
    <NodeName Default="BlightedProf.jpg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gp4jrabn/blightedprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>