<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ff0d42f-2fa1-4658-b116-f7154942953f" Alias="BrakionProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/BrakionProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:20:47</CreateDate>
    <NodeName Default="BrakionProf.jpg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uapln4oi/brakionprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>