<?xml version="1.0" encoding="utf-8"?>
<Media Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b" Alias="Cabal" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Cabal</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-29T22:41:46</CreateDate>
    <NodeName Default="Cabal" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>