<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec1e9330-1da6-4017-969b-cf20c2b9ad61" Alias="CaldhurMain.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/CaldhurMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:51:02</CreateDate>
    <NodeName Default="CaldhurMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x3mfqwwp/caldhurmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>