<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf1a0a52-c9be-463b-97a8-372970069b57" Alias="CalusProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/CalusProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T01:38:21</CreateDate>
    <NodeName Default="CalusProf.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1xafycox/calusprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>