<?xml version="1.0" encoding="utf-8"?>
<Media Key="a81d813f-f0d3-4bdf-9550-46e731f6dbe4" Alias="CalusMain.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/CalusMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T01:39:33</CreateDate>
    <NodeName Default="CalusMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wbffwhv0/calusmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>