<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7dfa953-1eb1-41ff-8f8e-ece9b029dd50" Alias="CaretakerProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/CaretakerProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-16T10:36:45</CreateDate>
    <NodeName Default="CaretakerProf.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1rrjseoy/caretakerprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>