<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e64ea7-67e4-4d6a-95ed-0985f11fc1e5" Alias="CarnevaleMain.jpg" Level="4">
  <Info>
    <Parent Key="82b2955f-1dcc-4ea3-8fa3-c1dc615caf87">Herd</Parent>
    <Path>/Horror/LittleNightmares/Herd/CarnevaleMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-28T16:24:50</CreateDate>
    <NodeName Default="CarnevaleMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fcckbi2n/carnevalemain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>