<?xml version="1.0" encoding="utf-8"?>
<Media Key="711a6c65-5906-4455-8d5c-fc2887106e23" Alias="CaterpillarMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/CaterpillarMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:51</CreateDate>
    <NodeName Default="CaterpillarMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ktfzr1p/caterpillarmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>