<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3d9517b-3757-4ab8-84d5-0d78336bab77" Alias="Classics" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/Classics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-06T11:04:06</CreateDate>
    <NodeName Default="Classics" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>