<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c95835a-8b32-42d7-ae03-03fe06b7136d" Alias="ClovisProf.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/ClovisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:58</CreateDate>
    <NodeName Default="ClovisProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0vengos1/clovisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>