<?xml version="1.0" encoding="utf-8"?>
<Media Key="043d51d2-afa8-45ab-baa9-5b72b02f6e3c" Alias="ClovisMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/ClovisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:58</CreateDate>
    <NodeName Default="ClovisMain.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lwnhxmwb/clovismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>