<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc3bca11-ed64-4af7-bdfc-5245522d472b" Alias="CourtAscGroup.jpg" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/CourtAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T17:49:56</CreateDate>
    <NodeName Default="CourtAscGroup.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tyah00qn/courtascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>