<?xml version="1.0" encoding="utf-8"?>
<Media Key="6665b8d7-9dc8-435c-a13b-835331f35018" Alias="CourtMatGroup.jpg" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/CourtMatGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:22:06</CreateDate>
    <NodeName Default="CourtMatGroup.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lbzchufb/courtmatgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>