<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1" Alias="CourtOfOryx" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/CourtOfOryx</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-10T18:29:56</CreateDate>
    <NodeName Default="CourtOfOryx" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>