<?xml version="1.0" encoding="utf-8"?>
<Media Key="a36c0810-0780-4def-b661-9a85d868f4ee" Alias="CraadugProf.jpg" Level="4">
  <Info>
    <Parent Key="5aaba777-8021-4440-a94d-0395ba98477c">Cra'adug and Mengoor</Parent>
    <Path>/Destiny/CourtOfOryx/CraadugAndMengoor/CraadugProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:24:02</CreateDate>
    <NodeName Default="CraadugProf.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t5bcufpj/craadugprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>