<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aaba777-8021-4440-a94d-0395ba98477c" Alias="Cra'adug and Mengoor" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/CraadugAndMengoor</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:17:27</CreateDate>
    <NodeName Default="Cra'adug and Mengoor" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>