<?xml version="1.0" encoding="utf-8"?>
<Media Key="c448a1ae-a8f4-4d11-913c-117935d5f197" Alias="CrorokMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/CrorokMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:36:30</CreateDate>
    <NodeName Default="CrorokMatProf.jpg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/efvb22u3/crorokmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>