<?xml version="1.0" encoding="utf-8"?>
<Media Key="e574fe9f-b65f-42b8-bb9b-5fcdebbdf075" Alias="CrotaMatProf.jpg (1)" Level="4">
  <Info>
    <Parent Key="82847a0b-0242-4e2c-9f6d-af9ba8fd3833">Crota</Parent>
    <Path>/Destiny/CourtOfOryx/Crota/CrotaMatProfjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T21:44:49</CreateDate>
    <NodeName Default="CrotaMatProf.jpg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ca0deuzw/crotamatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>