<?xml version="1.0" encoding="utf-8"?>
<Media Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270" Alias="CrotaDisciples" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/CrotaDisciples</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T00:00:50</CreateDate>
    <NodeName Default="CrotaDisciples" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>