<?xml version="1.0" encoding="utf-8"?>
<Media Key="51b691fa-00aa-44b1-94a7-2b84cbe65b0e" Alias="CrotheonMain.jpg" Level="4">
  <Info>
    <Parent Key="1efe2cbc-7419-43f8-b496-5160c5a76faa">Gate Lords</Parent>
    <Path>/Destiny/Vex/GateLords/CrotheonMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:17:42</CreateDate>
    <NodeName Default="CrotheonMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ovnpbz4d/crotheonmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>