<?xml version="1.0" encoding="utf-8"?>
<Media Key="e98b825f-4ec0-4d84-8188-535ca2a3a67c" Alias="CrotaMatMain.jpg" Level="4">
  <Info>
    <Parent Key="82847a0b-0242-4e2c-9f6d-af9ba8fd3833">Crota</Parent>
    <Path>/Destiny/CourtOfOryx/Crota/CrotaMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:06</CreateDate>
    <NodeName Default="CrotaMatMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0bem0x3j/crotamatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>