<?xml version="1.0" encoding="utf-8"?>
<Media Key="690ff138-1214-4741-88b7-d722a1989968" Alias="CrotaDiscipleMatGroup.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/CrotaDiscipleMatGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:22:50</CreateDate>
    <NodeName Default="CrotaDiscipleMatGroup.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w23ftx13/crotadisciplematgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>