<?xml version="1.0" encoding="utf-8"?>
<Media Key="82847a0b-0242-4e2c-9f6d-af9ba8fd3833" Alias="Crota" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Crota</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:06</CreateDate>
    <NodeName Default="Crota" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>