<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6119f40-9660-48fc-aeb4-303dd31cffd5" Alias="Däl" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Dael</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-10T18:30:42</CreateDate>
    <NodeName Default="Däl" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>