<?xml version="1.0" encoding="utf-8"?>
<Media Key="44fb8095-0dde-4897-8c8c-13d217f5eec3" Alias="DälGroup.jpg" Level="4">
  <Info>
    <Parent Key="e6119f40-9660-48fc-aeb4-303dd31cffd5">Däl</Parent>
    <Path>/Destiny/CourtOfOryx/Dael/DaelGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:24:22</CreateDate>
    <NodeName Default="DälGroup.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/djfl12vx/daelgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>