<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1bbb24c-3d8b-4057-a6af-de84110bf890" Alias="DakkadiProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/DakkadiProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="DakkadiProf.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yn2p0r5c/dakkadiprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>