<?xml version="1.0" encoding="utf-8"?>
<Media Key="408216ce-737c-476f-896c-1e88a0284243" Alias="DakkadiMain.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/DakkadiMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="DakkadiMain.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ihomj3qv/dakkadimain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>