<?xml version="1.0" encoding="utf-8"?>
<Media Key="adc15182-25db-4abe-b288-195433853323" Alias="DakoorYulAscProf.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/DakoorYulAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:36:41</CreateDate>
    <NodeName Default="DakoorYulAscProf.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bwnjog3s/dakooryulascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>