<?xml version="1.0" encoding="utf-8"?>
<Media Key="460dc179-4aad-49fe-a0cb-1a5701ea9dcc" Alias="DakoorYulMatMain.jpg (1)" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/DakoorYulMatMainjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:14:26</CreateDate>
    <NodeName Default="DakoorYulMatMain.jpg (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4yffx2ge/dakooryulmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>