<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c4d1ee8-1d91-489d-882b-fd9174b9d003" Alias="DakoorYulAscMain.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/DakoorYulAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:36:41</CreateDate>
    <NodeName Default="DakoorYulAscMain.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m5kawkxy/dakooryulascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>