<?xml version="1.0" encoding="utf-8"?>
<Media Key="88e317fa-ed47-48be-8f45-c1e6ff213596" Alias="DarkHeartMain.jpg" Level="3">
  <Info>
    <Parent Key="5fafc862-217a-4969-ad8e-87a67422c407">Primordial</Parent>
    <Path>/Destiny/Primordial/DarkHeartMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:49:12</CreateDate>
    <NodeName Default="DarkHeartMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oxolkpro/darkheartmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>