<?xml version="1.0" encoding="utf-8"?>
<Media Key="61f98237-a875-4cc4-b839-f1333c169e39" Alias="DarkHeartProf.jpg" Level="3">
  <Info>
    <Parent Key="5fafc862-217a-4969-ad8e-87a67422c407">Primordial</Parent>
    <Path>/Destiny/Primordial/DarkHeartProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:49:12</CreateDate>
    <NodeName Default="DarkHeartProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xbel5vy2/darkheartprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>