<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e4859db-79c0-40b2-8aac-bd33f3951ead" Alias="DarkbladeMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DarkbladeMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:48:54</CreateDate>
    <NodeName Default="DarkbladeMatProf.jpg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ksjb3gfj/darkbladematprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>