<?xml version="1.0" encoding="utf-8"?>
<Media Key="581979d6-c465-4c03-8b65-64a63229c20e" Alias="DarkbladeMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DarkbladeMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:49:03</CreateDate>
    <NodeName Default="DarkbladeMatMain.jpg" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lgzf51qm/darkbladematmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>