<?xml version="1.0" encoding="utf-8"?>
<Media Key="93674f98-8194-4558-9037-71aceb26f5d0" Alias="DarkbladeAscProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DarkbladeAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:33:52</CreateDate>
    <NodeName Default="DarkbladeAscProf.jpg" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c4cdcjp3/darkbladeascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>