<?xml version="1.0" encoding="utf-8"?>
<Media Key="366c9736-06b7-40be-82b8-4b41b1695a4f" Alias="DendronProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/DendronProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:16:59</CreateDate>
    <NodeName Default="DendronProf.jpg" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xfodvag4/dendronprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>