<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c80f096-91dd-4b35-9dac-a10b1b75b1f3" Alias="DendronMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/DendronMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:16:59</CreateDate>
    <NodeName Default="DendronMain.jpg" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/de3mnsvu/dendronmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>