<?xml version="1.0" encoding="utf-8"?>
<Media Key="6938362f-1352-463c-a23c-bf70da7463e6" Alias="Destiny" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Destiny</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-10T18:29:42</CreateDate>
    <NodeName Default="Destiny" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>