<?xml version="1.0" encoding="utf-8"?>
<Media Key="841817f6-8d40-462f-b741-a020ec17c7cb" Alias="DivisiveMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/DivisiveMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:55:24</CreateDate>
    <NodeName Default="DivisiveMain.jpg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/phof2mrj/divisivemain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>