<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d8aeb1d-0aa5-4133-b340-13a17fe50836" Alias="DoctorMain.jpg" Level="3">
  <Info>
    <Parent Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79">LittleNightmares</Parent>
    <Path>/Horror/LittleNightmares/DoctorMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-27T10:31:07</CreateDate>
    <NodeName Default="DoctorMain.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/siqnzw4m/doctormain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>