<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fe81b0a-a9b8-4e3e-97ca-2f39ee556732" Alias="DolgithMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DolgithMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="DolgithMatMain.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qxil2oor/dolgithmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>