<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6600a61-236d-46ef-8bd3-834931b7884e" Alias="DolgithMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DolgithMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="DolgithMatProf.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/31acm2ae/dolgithmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>