<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d4c9118-16e4-4ebc-b261-241b01ac59ee" Alias="DrachnaAscMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/DrachnaAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:44:19</CreateDate>
    <NodeName Default="DrachnaAscMain.jpg" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s3nbuk2n/drachnaascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>