<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b7be483-2d37-4a21-ad61-2e3621c18b4a" Alias="DraksisProf.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/DraksisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T23:57:10</CreateDate>
    <NodeName Default="DraksisProf.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bqxd1tk4/draksisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>