<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f3a8b53-3777-402e-bd25-372d878d82d9" Alias="DregProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/DregProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="DregProf.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1rahzki4/dregprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>