<?xml version="1.0" encoding="utf-8"?>
<Media Key="e10de0fd-c1e1-40c0-a842-669abfeafeea" Alias="DregMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/DregMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="DregMain.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oivewv2i/dregmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>