<?xml version="1.0" encoding="utf-8"?>
<Media Key="074c9b99-c42a-4053-b10d-a252b9764d80" Alias="DumuzodProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/DumuzodProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="DumuzodProf.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czibvmkd/dumuzodprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>