<?xml version="1.0" encoding="utf-8"?>
<Media Key="c482b344-56d5-46c3-a542-f36fd6ad253b" Alias="DyadGroup.jpg" Level="4">
  <Info>
    <Parent Key="5aaba777-8021-4440-a94d-0395ba98477c">Cra'adug and Mengoor</Parent>
    <Path>/Destiny/CourtOfOryx/CraadugAndMengoor/DyadGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:24:02</CreateDate>
    <NodeName Default="DyadGroup.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zn2ni2v2/dyadgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>