<?xml version="1.0" encoding="utf-8"?>
<Media Key="70be59a0-c501-4be5-b578-5e61784647ad" Alias="EctharProf.jpg" Level="4">
  <Info>
    <Parent Key="cfcf3064-1340-4efb-919f-5b2bf0a89b36">Ecthar</Parent>
    <Path>/Destiny/CourtOfOryx/Ecthar/EctharProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:12</CreateDate>
    <NodeName Default="EctharProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f4jprrti/ectharprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>