<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfcf3064-1340-4efb-919f-5b2bf0a89b36" Alias="Ecthar" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Ecthar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:12</CreateDate>
    <NodeName Default="Ecthar" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>