<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f0899ab-456a-431e-b71e-86d14107464a" Alias="EggAlbatrossMain.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggAlbatrossMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:50</CreateDate>
    <NodeName Default="EggAlbatrossMain.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/erjf2oid/eggalbatrossmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>