<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7331ac0-fa6a-4dfe-8526-a2ecf95d19ca" Alias="EggEmperorProf.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggEmperorProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:51</CreateDate>
    <NodeName Default="EggEmperorProf.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j5ihkeid/eggemperorprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>