<?xml version="1.0" encoding="utf-8"?>
<Media Key="698e5871-6e41-4a3d-9180-8f343a83fe26" Alias="EggHammerProf.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggHammerProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:50</CreateDate>
    <NodeName Default="EggHammerProf.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/50jmrxzi/egghammerprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>