<?xml version="1.0" encoding="utf-8"?>
<Media Key="37ae1d5a-78bb-4a72-b1dd-5de9518421a4" Alias="EggHawkMain.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggHawkMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:50</CreateDate>
    <NodeName Default="EggHawkMain.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0xlpraos/egghawkmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>