<?xml version="1.0" encoding="utf-8"?>
<Media Key="4adaf721-c0f1-4be9-aa6b-50c34ad23e91" Alias="EggHammerMain.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggHammerMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:51</CreateDate>
    <NodeName Default="EggHammerMain.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vy4jz5ey/egghammermain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>