<?xml version="1.0" encoding="utf-8"?>
<Media Key="f76a4c6c-abc1-4e90-8001-1d32f43f797f" Alias="EggMobileMain.jpg" Level="3">
  <Info>
    <Parent Key="f3d9517b-3757-4ab8-84d5-0d78336bab77">Classics</Parent>
    <Path>/Sonic/Classics/EggMobileMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:15:00</CreateDate>
    <NodeName Default="EggMobileMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2odcyqni/eggmobilemain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>