<?xml version="1.0" encoding="utf-8"?>
<Media Key="5792b091-3d5a-4cc3-93e0-0fda634b3274" Alias="EggPawnMain.png" Level="3">
  <Info>
    <Parent Key="8dcb557f-6d1a-4fbb-8749-94c196021060">Heroes</Parent>
    <Path>/Sonic/Heroes/EggPawnMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:09:50</CreateDate>
    <NodeName Default="EggPawnMain.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dz3njyjt/eggpawnmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>