<?xml version="1.0" encoding="utf-8"?>
<Media Key="508453ff-e507-46be-b808-17c69e563eba" Alias="ElderGroup.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/ElderGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:38:17</CreateDate>
    <NodeName Default="ElderGroup.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ocmnfzto/eldergroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>