<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c324bbd-d423-477c-a4b7-264f1e19ec68" Alias="Elders" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/Elders</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T23:34:05</CreateDate>
    <NodeName Default="Elders" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>