<?xml version="1.0" encoding="utf-8"?>
<Media Key="101d823c-f258-4eeb-b83a-2b28594c8aa7" Alias="EramisMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/EramisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="EramisMain.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wnefxjrr/eramismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>