<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7aa7e21-efa6-4dec-a75e-17eb37fd0251" Alias="EramisProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/EramisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="EramisProf.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v00oyeop/eramisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>