<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d46f81a-7b63-4e27-a458-2acafb6f1b8f" Alias="EschatonProf.jpg" Level="4">
  <Info>
    <Parent Key="639a059f-f6de-4885-ae92-104264257421">SolProgeny</Parent>
    <Path>/Destiny/Vex/SolProgeny/EschatonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:49:00</CreateDate>
    <NodeName Default="EschatonProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/suzabsyk/eschatonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>