<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebf730c3-4623-4ac1-8c28-c0e31fbfa335" Alias="EshkinMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/EshkinMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="EshkinMatProf.jpg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jt3lcxkk/eshkinmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>