<?xml version="1.0" encoding="utf-8"?>
<Media Key="a455d585-4fbf-43a1-bb2e-68b9d6448042" Alias="ExomidaAscProf.jpg" Level="5">
  <Info>
    <Parent Key="dfc2777c-4b39-4f0b-a8e1-ce4f5128d77d">Chimeras</Parent>
    <Path>/Destiny/Hive/Ascendants/Chimeras/ExomidaAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:42</CreateDate>
    <NodeName Default="ExomidaAscProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bipbgeww/exomidaascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>