<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6764323-95a5-4345-825a-ddfe2971f960" Alias="Eye1Main.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/Eye1Mainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:10:47</CreateDate>
    <NodeName Default="Eye1Main.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vsedaegm/eye1main.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>