<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b0ce07b-fbe7-40da-86c4-b7845e487904" Alias="Eye2Main.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/Eye2Mainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:08:39</CreateDate>
    <NodeName Default="Eye2Main.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4qvevtmo/eye2main.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>