<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ba95144-9df8-42e5-958d-c325c0a22e7f" Alias="Eye2Prof.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/Eye2Profjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:06:31</CreateDate>
    <NodeName Default="Eye2Prof.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zonp5lmr/eye2prof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>