<?xml version="1.0" encoding="utf-8"?>
<Media Key="430e48c1-0f9b-4fef-a75c-afd5261a02a2" Alias="Eye3Main.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/Eye3Mainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:06:13</CreateDate>
    <NodeName Default="Eye3Main.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j0ber3ps/eye3main.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>