<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3ce379d-8cbf-4a63-9e44-cd7d750516e2" Alias="Eye3Prof.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/Eye3Profjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:03:07</CreateDate>
    <NodeName Default="Eye3Prof.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cl4jqbow/eye3prof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>