<?xml version="1.0" encoding="utf-8"?>
<Media Key="3df3cec8-5292-4794-88ab-736f156c2193" Alias="EyesMatGroup.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/EyesMatGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:23:01</CreateDate>
    <NodeName Default="EyesMatGroup.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i2cllc51/eyesmatgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>