<?xml version="1.0" encoding="utf-8"?>
<Media Key="70f21b23-7d59-4f13-94fa-565803b72faf" Alias="Fallen" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Fallen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T23:04:11</CreateDate>
    <NodeName Default="Fallen" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>