<?xml version="1.0" encoding="utf-8"?>
<Media Key="204e559f-b9d2-4626-b9a3-255abbfd5796" Alias="FatesmithsAscGroup.jpg" Level="4">
  <Info>
    <Parent Key="cadfcc87-876d-436e-ad8d-b3515772e499">Fatesmiths</Parent>
    <Path>/Destiny/Hive/Fatesmiths/FatesmithsAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:50:52</CreateDate>
    <NodeName Default="FatesmithsAscGroup.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ccpbrfv1/fatesmithsascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>