<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aff0294-f653-4c94-9b7f-d7fec40c1b21" Alias="FatesmithsAscMain.jpg" Level="4">
  <Info>
    <Parent Key="cadfcc87-876d-436e-ad8d-b3515772e499">Fatesmiths</Parent>
    <Path>/Destiny/Hive/Fatesmiths/FatesmithsAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:50:00</CreateDate>
    <NodeName Default="FatesmithsAscMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dpelthb0/fatesmithsascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>