<?xml version="1.0" encoding="utf-8"?>
<Media Key="cadfcc87-876d-436e-ad8d-b3515772e499" Alias="Fatesmiths" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/Fatesmiths</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-04-19T17:46:40</CreateDate>
    <NodeName Default="Fatesmiths" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties />
</Media>