<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc60221b-da38-47a1-9c24-9ab91e8a2094" Alias="FlayersGroup.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/FlayersGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:22:52</CreateDate>
    <NodeName Default="FlayersGroup.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/stucmssr/flayersgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>