<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e110685-089c-4e66-9d0e-05d5898be40d" Alias="FortressMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/FortressMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:51</CreateDate>
    <NodeName Default="FortressMain.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/blgfoohv/fortressmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>