<?xml version="1.0" encoding="utf-8"?>
<Media Key="54712efa-33b6-4c5e-95e9-a94003d6d922" Alias="FrigorisProf.jpg" Level="4">
  <Info>
    <Parent Key="4cc225fb-0b62-4924-9eb9-6475d3ba0c87">Barons</Parent>
    <Path>/Destiny/Fallen/Barons/FrigorisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T16:37:02</CreateDate>
    <NodeName Default="FrigorisProf.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oxsdpyw5/frigorisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>