<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcb40975-4d50-4399-81df-014d6884000d" Alias="FrigorisMain.jpg" Level="4">
  <Info>
    <Parent Key="4cc225fb-0b62-4924-9eb9-6475d3ba0c87">Barons</Parent>
    <Path>/Destiny/Fallen/Barons/FrigorisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T16:37:11</CreateDate>
    <NodeName Default="FrigorisMain.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5lbpecrz/frigorismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>