<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4584630-8e62-48a8-8bf8-2a83a254cfc3" Alias="GarokXolMatProf.jpg (1)" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/GarokXolMatProfjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:14:26</CreateDate>
    <NodeName Default="GarokXolMatProf.jpg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x4gb2aql/garokxolmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>