<?xml version="1.0" encoding="utf-8"?>
<Media Key="151c105a-9cbc-406f-882c-01a2e5078d2d" Alias="GarokXolMatMain.jpg (1)" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/GarokXolMatMainjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:14:26</CreateDate>
    <NodeName Default="GarokXolMatMain.jpg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0xnfvi4v/garokxolmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>