<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ab58629-25db-4902-a6da-0cce680b6771" Alias="GarokXolAscMain.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/GarokXolAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:36:41</CreateDate>
    <NodeName Default="GarokXolAscMain.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uzgphxfs/garokxolascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>