<?xml version="1.0" encoding="utf-8"?>
<Media Key="1efe2cbc-7419-43f8-b496-5160c5a76faa" Alias="Gate Lords" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/GateLords</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-23T13:11:46</CreateDate>
    <NodeName Default="Gate Lords" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties />
</Media>