<?xml version="1.0" encoding="utf-8"?>
<Media Key="9467ce6d-e6c4-4636-82c3-3a4969d52fa9" Alias="GaurogAscProf.jpg" Level="4">
  <Info>
    <Parent Key="cadfcc87-876d-436e-ad8d-b3515772e499">Fatesmiths</Parent>
    <Path>/Destiny/Hive/Fatesmiths/GaurogAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:50:00</CreateDate>
    <NodeName Default="GaurogAscProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2icccivn/gaurogascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>