<?xml version="1.0" encoding="utf-8"?>
<Media Key="134c962d-f0cd-4d09-82e7-de0031af4ff2" Alias="GigantoMain.png" Level="3">
  <Info>
    <Parent Key="133a5ab7-0102-4bc2-be2b-9bd593200fc3">Titans</Parent>
    <Path>/Sonic/Titans/GigantoMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:05:48</CreateDate>
    <NodeName Default="GigantoMain.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ujoavjne/gigantomain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>