<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5e63db6-28e7-4531-b2b0-cde271b58239" Alias="GiversProf.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/GiversProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:50:02</CreateDate>
    <NodeName Default="GiversProf.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hh1la22o/giversprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>