<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fab6775-4d09-44ba-a8e3-4da5346b28ba" Alias="GiversMain.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/GiversMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:50:02</CreateDate>
    <NodeName Default="GiversMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5kwp1wla/giversmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>