<?xml version="1.0" encoding="utf-8"?>
<Media Key="02d2c4e2-640b-409b-b832-1c50683a1cb8" Alias="GoblinProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/GoblinProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="GoblinProf.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nuhjjndc/goblinprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>