<?xml version="1.0" encoding="utf-8"?>
<Media Key="36618abe-493b-45fa-b2fa-1b19b74fef92" Alias="GoblinMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/GoblinMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="GoblinMain.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gfacpacs/goblinmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>