<?xml version="1.0" encoding="utf-8"?>
<Media Key="f47ac32f-308c-42c0-9ae0-c9b9693f3681" Alias="GolgyAscMain.jpg" Level="4">
  <Info>
    <Parent Key="ae3bcba3-f8bc-4445-ad59-46c37cd7602d">Golgoroth</Parent>
    <Path>/Destiny/CourtOfOryx/Golgoroth/GolgyAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T16:00:21</CreateDate>
    <NodeName Default="GolgyAscMain.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uaedyqxf/golgyascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>