<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0a8671e-e5d8-41d8-ad66-eb643ea988a4" Alias="GornukProf.jpg" Level="4">
  <Info>
    <Parent Key="e6119f40-9660-48fc-aeb4-303dd31cffd5">Däl</Parent>
    <Path>/Destiny/CourtOfOryx/Dael/GornukProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T19:19:48</CreateDate>
    <NodeName Default="GornukProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sgwp2vvr/gornukprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>