<?xml version="1.0" encoding="utf-8"?>
<Media Key="24c6a4db-44e7-441d-a4c8-e41ca6cf2c4d" Alias="GornithProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/GornithProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="GornithProf.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/krxibeuo/gornithprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>