<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fd8bbe7-6730-4ae9-a2d2-30c9389675a5" Alias="GornithMain.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/GornithMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="GornithMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nbyj3kkz/gornithmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>