<?xml version="1.0" encoding="utf-8"?>
<Media Key="691ef65c-a63b-4e8d-856e-2716b3be4009" Alias="GornukMain.jpg" Level="4">
  <Info>
    <Parent Key="e6119f40-9660-48fc-aeb4-303dd31cffd5">Däl</Parent>
    <Path>/Destiny/CourtOfOryx/Dael/GornukMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T19:19:48</CreateDate>
    <NodeName Default="GornukMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0m4frx0s/gornukmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>