<?xml version="1.0" encoding="utf-8"?>
<Media Key="817133ec-746e-4b04-b9b9-58ead9606602" Alias="GurrothMain.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/GurrothMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="GurrothMain.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mp2donyh/gurrothmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>