<?xml version="1.0" encoding="utf-8"?>
<Media Key="49645f96-c6b4-4d90-9254-8e199620431a" Alias="GurrothProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/GurrothProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="GurrothProf.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dgkdf543/gurrothprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>