<?xml version="1.0" encoding="utf-8"?>
<Media Key="edf231d5-fd0b-423b-b0aa-3aba7e9ae1ae" Alias="HandProf.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/HandProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:12:50</CreateDate>
    <NodeName Default="HandProf.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ll3liw1c/handprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>