<?xml version="1.0" encoding="utf-8"?>
<Media Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe" Alias="Hands of Oryx" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/HandsOfOryx</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-23T14:38:01</CreateDate>
    <NodeName Default="Hands of Oryx" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>