<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff9fdd17-e46d-41bd-a315-5c8a10faf409" Alias="HandsGroup.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/HandsGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T14:40:03</CreateDate>
    <NodeName Default="HandsGroup.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/talnssie/handsgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>