<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1be2464-ee0a-4489-9312-180e74a4765c" Alias="HandsAscGroup.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/HandsAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T17:46:56</CreateDate>
    <NodeName Default="HandsAscGroup.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3pxpq31d/handsascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>