<?xml version="1.0" encoding="utf-8"?>
<Media Key="3893243e-dd93-475d-9fe3-365c2b50e09e" Alias="HandMain.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/HandMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:14:00</CreateDate>
    <NodeName Default="HandMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/whxnldx0/handmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>