<?xml version="1.0" encoding="utf-8"?>
<Media Key="463deffa-e410-4a3e-a461-50a32d294a19" Alias="HarokthaMatMain.jpg" Level="4">
  <Info>
    <Parent Key="845ce745-1d74-4242-964c-16c851e8ff11">XivuUniversals</Parent>
    <Path>/Destiny/Hive/XivuUniversals/HarokthaMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T01:28:30</CreateDate>
    <NodeName Default="HarokthaMatMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oushx2dz/harokthamatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>