<?xml version="1.0" encoding="utf-8"?>
<Media Key="0de2d579-8a47-4cac-9c4f-9e036a73b760" Alias="HarpyMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/HarpyMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="HarpyMain.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4ypljozo/harpymain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>