<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bb62ef4-ca6f-4095-bd13-3b0c195590cc" Alias="HarpyProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/HarpyProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="HarpyProf.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ppspbhig/harpyprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>