<?xml version="1.0" encoding="utf-8"?>
<Media Key="52e1edb2-ba4b-487b-a813-e9da66b54233" Alias="HarvesterMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/HarvesterMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:51</CreateDate>
    <NodeName Default="HarvesterMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hutlpzbc/harvestermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>