<?xml version="1.0" encoding="utf-8"?>
<Media Key="86f83a34-4d86-495a-8da6-4f006be33cb8" Alias="HashladunMain.jpg" Level="4">
  <Info>
    <Parent Key="eb72495a-0633-41b4-b832-03b9465a55aa">Hashladun</Parent>
    <Path>/Destiny/CourtOfOryx/Hashladun/HashladunMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:24</CreateDate>
    <NodeName Default="HashladunMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xpyl2mhp/hashladunmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>