<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93d7db7-1812-4107-91dd-ea22518b2499" Alias="HashladunProf.jpg" Level="4">
  <Info>
    <Parent Key="eb72495a-0633-41b4-b832-03b9465a55aa">Hashladun</Parent>
    <Path>/Destiny/CourtOfOryx/Hashladun/HashladunProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:24</CreateDate>
    <NodeName Default="HashladunProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hc1hwd11/hashladunprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>