<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee617a7e-18d2-4462-ba12-a74cf01a3b8d" Alias="HCAscProf.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/HCAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:04</CreateDate>
    <NodeName Default="HCAscProf.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4gycowf1/hcascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>