<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ae9adfb-f48b-4c73-8215-e43ffa44cc95" Alias="HCMatMain.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/HCMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:04</CreateDate>
    <NodeName Default="HCMatMain.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ortl5lhc/hcmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>