<?xml version="1.0" encoding="utf-8"?>
<Media Key="559c7ad0-6114-4be7-8f9d-a189a02f489b" Alias="HeartMain.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/HeartMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T17:48:43</CreateDate>
    <NodeName Default="HeartMain.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l4ynvy13/heartmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>