<?xml version="1.0" encoding="utf-8"?>
<Media Key="563cb7f5-c802-476e-83ae-11956c655aa8" Alias="HeraldProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/HeraldProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T15:34:42</CreateDate>
    <NodeName Default="HeraldProf.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pj4hvydl/heraldprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>