<?xml version="1.0" encoding="utf-8"?>
<Media Key="5702f532-920f-4740-afb9-1970d02ab827" Alias="HeraldMain.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/HeraldMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T15:34:51</CreateDate>
    <NodeName Default="HeraldMain.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xu5fjylg/heraldmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>