<?xml version="1.0" encoding="utf-8"?>
<Media Key="82b2955f-1dcc-4ea3-8fa3-c1dc615caf87" Alias="Herd" Level="3">
  <Info>
    <Parent Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79">LittleNightmares</Parent>
    <Path>/Horror/LittleNightmares/Herd</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-28T16:22:58</CreateDate>
    <NodeName Default="Herd" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties />
</Media>