<?xml version="1.0" encoding="utf-8"?>
<Media Key="35890a4d-fcb4-4943-adc7-b6fa5eb43e5f" Alias="HerdGroup.jpg" Level="4">
  <Info>
    <Parent Key="82b2955f-1dcc-4ea3-8fa3-c1dc615caf87">Herd</Parent>
    <Path>/Horror/LittleNightmares/Herd/HerdGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-28T16:24:50</CreateDate>
    <NodeName Default="HerdGroup.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ylam5a43/herdgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>