<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dcb557f-6d1a-4fbb-8749-94c196021060" Alias="Heroes" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/Heroes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-06T11:03:39</CreateDate>
    <NodeName Default="Heroes" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>