<?xml version="1.0" encoding="utf-8"?>
<Media Key="34c3a07c-5f88-4f3e-95b0-27686ed1d209" Alias="HiraksMatProf.jpg" Level="3">
  <Info>
    <Parent Key="41199d70-c0c7-470b-8abb-1945b31cd8d5">Hiraks</Parent>
    <Path>/Destiny/Hiraks/HiraksMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T23:01:01</CreateDate>
    <NodeName Default="HiraksMatProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4nvilaxb/hiraksmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>