<?xml version="1.0" encoding="utf-8"?>
<Media Key="e840bcef-0d30-44a7-8b69-35744ace3281" Alias="HiraksAscMain.jpg" Level="3">
  <Info>
    <Parent Key="41199d70-c0c7-470b-8abb-1945b31cd8d5">Hiraks</Parent>
    <Path>/Destiny/Hiraks/HiraksAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T23:10:57</CreateDate>
    <NodeName Default="HiraksAscMain.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mb1amxsz/hiraksascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>