<?xml version="1.0" encoding="utf-8"?>
<Media Key="b35d37e1-16c2-4a8a-80ad-7a37b80f9fef" Alias="HiraksAscProf.jpg" Level="3">
  <Info>
    <Parent Key="41199d70-c0c7-470b-8abb-1945b31cd8d5">Hiraks</Parent>
    <Path>/Destiny/Hiraks/HiraksAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T23:10:46</CreateDate>
    <NodeName Default="HiraksAscProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n14bwbnl/hiraksascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>