<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b9e05e6-b0c6-4067-bf8f-f9fef35a45a8" Alias="HiraksMatMain.jpg" Level="3">
  <Info>
    <Parent Key="41199d70-c0c7-470b-8abb-1945b31cd8d5">Hiraks</Parent>
    <Path>/Destiny/Hiraks/HiraksMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T23:02:03</CreateDate>
    <NodeName Default="HiraksMatMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nhhnrhnp/hiraksmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>