<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ae6493-959c-4c96-9025-84ff6255f97c" Alias="Hive" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Hive</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-04T23:20:59</CreateDate>
    <NodeName Default="Hive" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>