<?xml version="1.0" encoding="utf-8"?>
<Media Key="01640d30-9380-4614-ba85-802b796efd82" Alias="HobgoblinMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/HobgoblinMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="HobgoblinMain.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x5ddfn5j/hobgoblinmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>