<?xml version="1.0" encoding="utf-8"?>
<Media Key="437b37fa-c758-4fa3-9ddb-f808f18b2c67" Alias="Horror" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Horror</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-10T19:26:06</CreateDate>
    <NodeName Default="Horror" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>