<?xml version="1.0" encoding="utf-8"?>
<Media Key="32fbca6a-1410-428b-a8eb-9514d91da03c" Alias="HoruuskProf.jpg" Level="4">
  <Info>
    <Parent Key="a5a2d320-c13a-4b57-8ef2-8a085b4089ec">Horu'usk</Parent>
    <Path>/Destiny/CourtOfOryx/Horuusk/HoruuskProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:28</CreateDate>
    <NodeName Default="HoruuskProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ual1bdz/horuuskprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>