<?xml version="1.0" encoding="utf-8"?>
<Media Key="de639a36-e5e3-4237-b96f-58bd54fdb5d8" Alias="HoruuskMain.jpg" Level="4">
  <Info>
    <Parent Key="a5a2d320-c13a-4b57-8ef2-8a085b4089ec">Horu'usk</Parent>
    <Path>/Destiny/CourtOfOryx/Horuusk/HoruuskMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:24:41</CreateDate>
    <NodeName Default="HoruuskMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xfick0ek/horuuskmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>