<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5a2d320-c13a-4b57-8ef2-8a085b4089ec" Alias="Horu'usk" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Horuusk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:28</CreateDate>
    <NodeName Default="Horu'usk" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>