<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0159a36-8c46-4a8f-aced-6bc032cd03da" Alias="HunterProf.jpg" Level="3">
  <Info>
    <Parent Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79">LittleNightmares</Parent>
    <Path>/Horror/LittleNightmares/HunterProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-27T10:31:08</CreateDate>
    <NodeName Default="HunterProf.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xfifgfrp/hunterprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>