<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8e69524-e553-4be8-b682-bdf200529114" Alias="HydraProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/HydraProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="HydraProf.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vnpla1r0/hydraprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>