<?xml version="1.0" encoding="utf-8"?>
<Media Key="54158009-aa69-44fe-8ff9-8751a66308ce" Alias="HydraMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/HydraMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:30:07</CreateDate>
    <NodeName Default="HydraMain.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qzffhyqa/hydramain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>