<?xml version="1.0" encoding="utf-8"?>
<Media Key="93bd903b-b17f-46dd-a35a-110e40d08fc5" Alias="IgnovunMain.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/IgnovunMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:25:32</CreateDate>
    <NodeName Default="IgnovunMain.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wrnpwjiw/ignovunmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>