<?xml version="1.0" encoding="utf-8"?>
<Media Key="68b46881-d6aa-4314-a3a8-5a7223e98bcd" Alias="ImminentProf.jpg" Level="4">
  <Info>
    <Parent Key="639a059f-f6de-4885-ae92-104264257421">SolProgeny</Parent>
    <Path>/Destiny/Vex/SolProgeny/ImminentProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:49:00</CreateDate>
    <NodeName Default="ImminentProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b0rpfxwd/imminentprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>