<?xml version="1.0" encoding="utf-8"?>
<Media Key="652227ab-cb2a-4db0-ad3c-5de691ae3da1" Alias="ImminentMain.jpg" Level="4">
  <Info>
    <Parent Key="639a059f-f6de-4885-ae92-104264257421">SolProgeny</Parent>
    <Path>/Destiny/Vex/SolProgeny/ImminentMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:49:00</CreateDate>
    <NodeName Default="ImminentMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/etwhju0d/imminentmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>