<?xml version="1.0" encoding="utf-8"?>
<Media Key="700bf9bf-b499-42f5-8f1d-006f3b1e090c" Alias="IncaruAscMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/IncaruAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T15:44:30</CreateDate>
    <NodeName Default="IncaruAscMain.jpg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gazf1rxq/incaruascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>