<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1db36a8-5f8c-441e-9720-7143a3836d74" Alias="IncaruAscProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/IncaruAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T15:40:36</CreateDate>
    <NodeName Default="IncaruAscProf.jpg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e54j0v5f/incaruascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>