<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb7ebf96-aa93-4b68-a6f9-efec03317c79" Alias="InfantineMatMain.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/InfantineMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:04</CreateDate>
    <NodeName Default="InfantineMatMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/df0dqtp0/infantinematmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>