<?xml version="1.0" encoding="utf-8"?>
<Media Key="415f342a-6055-4e58-b279-c293f1565530" Alias="InfantineMatProf.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/InfantineMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:04</CreateDate>
    <NodeName Default="InfantineMatProf.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ux5bt3z2/infantinematprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>