<?xml version="1.0" encoding="utf-8"?>
<Media Key="c898dc1a-6103-4255-a560-9e9e93683abc" Alias="InsurrectionMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/InsurrectionMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="InsurrectionMain.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/suln25tk/insurrectionmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>