<?xml version="1.0" encoding="utf-8"?>
<Media Key="76eaafe8-4128-48d6-8600-c263c08d619f" Alias="InsurrectionProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/InsurrectionProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="InsurrectionProf.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m3slzqcb/insurrectionprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>