<?xml version="1.0" encoding="utf-8"?>
<Media Key="b09a8f26-6411-4838-ac01-41fa5b0babc1" Alias="IxelProf.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/IxelProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:31:50</CreateDate>
    <NodeName Default="IxelProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfcnybty/ixelprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>