<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa624053-ecb7-4b26-965f-a5333641a643" Alias="IxelMain.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/IxelMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:32:05</CreateDate>
    <NodeName Default="IxelMain.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1sfcitg4/ixelmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>