<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8a86021-0cb0-4244-bb9d-bf6ba83e8c51" Alias="JumpshipMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/JumpshipMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:51</CreateDate>
    <NodeName Default="JumpshipMain.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v0vo2xwz/jumpshipmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>