<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f322d83-6aa3-4e3d-b53c-c784ecd4dec7" Alias="JumpshipProf.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/JumpshipProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:51</CreateDate>
    <NodeName Default="JumpshipProf.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/btthj0ok/jumpshipprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>