<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5e72faf-d1b3-4975-be30-fdf0e8f4537e" Alias="KagoorMain.jpg" Level="4">
  <Info>
    <Parent Key="8b889996-5d91-4304-80a8-d8dcfd0cf275">Kagoor</Parent>
    <Path>/Destiny/CourtOfOryx/Kagoor/KagoorMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:32</CreateDate>
    <NodeName Default="KagoorMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/edslc240/kagoormain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>