<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7b416de-8b3d-4e16-88a9-f2080dd4039a" Alias="KaliksMain.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/KaliksMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:30:51</CreateDate>
    <NodeName Default="KaliksMain.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/khopeuku/kaliksmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>