<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a84ced0-96bb-4323-b146-ea6926377ce2" Alias="KaliksProf.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/KaliksProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T15:30:36</CreateDate>
    <NodeName Default="KaliksProf.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l2cmepgs/kaliksprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>