<?xml version="1.0" encoding="utf-8"?>
<Media Key="f574c9f2-8497-478d-83ee-41526487f233" Alias="KalliksMain.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/KalliksMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T23:38:51</CreateDate>
    <NodeName Default="KalliksMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pubdeq54/kalliksmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>