<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e10168c-6d63-4de1-bcb9-47214fa5d148" Alias="KargenMain.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/KargenMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T22:45:57</CreateDate>
    <NodeName Default="KargenMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/apofmoak/kargenmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>