<?xml version="1.0" encoding="utf-8"?>
<Media Key="c52e79f1-bff3-4418-a6d7-757e2dce088b" Alias="KaruulMain.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/KaruulMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:51:03</CreateDate>
    <NodeName Default="KaruulMain.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/p0zhq220/karuulmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>