<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca1fff2a-907e-46f1-b312-1984f6fa458e" Alias="KnightMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/KnightMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:54:27</CreateDate>
    <NodeName Default="KnightMain.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uu0fs5ax/knightmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>