<?xml version="1.0" encoding="utf-8"?>
<Media Key="46068ab4-982a-4788-a62a-ad2f03053caf" Alias="KolarProf.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/KolarProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:22:52</CreateDate>
    <NodeName Default="KolarProf.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hnaeb2cd/kolarprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>