<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c395276-6a0c-4ba1-81ae-47849aeac79e" Alias="KovikMain.jpg" Level="4">
  <Info>
    <Parent Key="6e141087-cae9-4141-9cf4-c40ad3dc2fd9">Splicers</Parent>
    <Path>/Destiny/Fallen/Splicers/KovikMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T10:38:17</CreateDate>
    <NodeName Default="KovikMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5gmh5otf/kovikmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>