<?xml version="1.0" encoding="utf-8"?>
<Media Key="156934ed-6004-44ad-8f08-fcabb90e91ea" Alias="KovikProf.jpg" Level="4">
  <Info>
    <Parent Key="6e141087-cae9-4141-9cf4-c40ad3dc2fd9">Splicers</Parent>
    <Path>/Destiny/Fallen/Splicers/KovikProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T10:38:07</CreateDate>
    <NodeName Default="KovikProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ml5c5i1n/kovikprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>