<?xml version="1.0" encoding="utf-8"?>
<Media Key="9365f04b-84f7-42ea-8ebf-868f12087745" Alias="Kranox" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/Kranox</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-04T23:21:08</CreateDate>
    <NodeName Default="Kranox" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>