<?xml version="1.0" encoding="utf-8"?>
<Media Key="919ad44a-902b-45f0-983a-e914a4425138" Alias="KranoxMatProf.jpg" Level="4">
  <Info>
    <Parent Key="9365f04b-84f7-42ea-8ebf-868f12087745">Kranox</Parent>
    <Path>/Destiny/Hive/Kranox/KranoxMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-04T23:21:24</CreateDate>
    <NodeName Default="KranoxMatProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yupnyj0c/kranoxmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>