<?xml version="1.0" encoding="utf-8"?>
<Media Key="897a3709-1b51-4618-b1b0-1c579c44535a" Alias="KranoxMatMain.jpg" Level="4">
  <Info>
    <Parent Key="9365f04b-84f7-42ea-8ebf-868f12087745">Kranox</Parent>
    <Path>/Destiny/Hive/Kranox/KranoxMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-04T23:26:17</CreateDate>
    <NodeName Default="KranoxMatMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q14dypzy/kranoxmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>