<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ee644f-283c-4a1a-b63f-d3e1b6a79218" Alias="KridisMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/KridisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="KridisMain.jpg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ycxkqb0v/kridismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>