<?xml version="1.0" encoding="utf-8"?>
<Media Key="6feeafe2-2ad0-4477-9686-c645650e9f24" Alias="KridisProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/KridisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="KridisProf.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nvslrwnz/kridisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>