<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b3a8a74-03be-47a8-9adb-1757e4b7d43b" Alias="Krughor" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Krughor</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:36</CreateDate>
    <NodeName Default="Krughor" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>