<?xml version="1.0" encoding="utf-8"?>
<Media Key="32ad5d16-09e2-40d3-aeee-e57431a8b787" Alias="KrughorMain.jpg" Level="4">
  <Info>
    <Parent Key="6b3a8a74-03be-47a8-9adb-1757e4b7d43b">Krughor</Parent>
    <Path>/Destiny/CourtOfOryx/Krughor/KrughorMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:36</CreateDate>
    <NodeName Default="KrughorMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tglpxbel/krughormain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>