<?xml version="1.0" encoding="utf-8"?>
<Media Key="9edbe67a-4fd5-41ed-a34f-53e2a4f22129" Alias="KrughorProf.jpg" Level="4">
  <Info>
    <Parent Key="6b3a8a74-03be-47a8-9adb-1757e4b7d43b">Krughor</Parent>
    <Path>/Destiny/CourtOfOryx/Krughor/KrughorProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:36</CreateDate>
    <NodeName Default="KrughorProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4uwj0kf2/krughorprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>