<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79" Alias="LittleNightmares" Level="2">
  <Info>
    <Parent Key="437b37fa-c758-4fa3-9ddb-f808f18b2c67">Horror</Parent>
    <Path>/Horror/LittleNightmares</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:19:26</CreateDate>
    <NodeName Default="LittleNightmares" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>