<?xml version="1.0" encoding="utf-8"?>
<Media Key="2395f9e6-e71d-4b69-8e3c-94c70cb06ccb" Alias="LokaarMain.jpg" Level="4">
  <Info>
    <Parent Key="3c2419f7-eb8f-4295-aa24-5ee85026d77a">Lokaar</Parent>
    <Path>/Destiny/CourtOfOryx/Lokaar/LokaarMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:40</CreateDate>
    <NodeName Default="LokaarMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/neznhflu/lokaarmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>