<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4651f84-28e1-4f2a-9735-42770e209e70" Alias="LokaarProf.jpg" Level="4">
  <Info>
    <Parent Key="3c2419f7-eb8f-4295-aa24-5ee85026d77a">Lokaar</Parent>
    <Path>/Destiny/CourtOfOryx/Lokaar/LokaarProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:40</CreateDate>
    <NodeName Default="LokaarProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bpkdg2ui/lokaarprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>