<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c2419f7-eb8f-4295-aa24-5ee85026d77a" Alias="Lokaar" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Lokaar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:40</CreateDate>
    <NodeName Default="Lokaar" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>