<?xml version="1.0" encoding="utf-8"?>
<Media Key="73b24f07-6a9b-46ea-ba3c-0554ca2126e6" Alias="MaaurgProf.jpg" Level="4">
  <Info>
    <Parent Key="d2e356c3-4508-4d01-bb6a-5a91ff3f4555">Vals</Parent>
    <Path>/Destiny/Cabal/Vals/MaaurgProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T01:31:44</CreateDate>
    <NodeName Default="MaaurgProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rccpjrps/maaurgprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>