<?xml version="1.0" encoding="utf-8"?>
<Media Key="07357406-dfdf-484a-8040-323f13f49ca6" Alias="MarauderProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/MarauderProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="MarauderProf.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rg5hhmnw/marauderprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>