<?xml version="1.0" encoding="utf-8"?>
<Media Key="73209d0d-bd33-4da0-a057-5cf4795881a2" Alias="MauualProf.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/MauualProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T10:55:07</CreateDate>
    <NodeName Default="MauualProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qjlhnrk0/mauualprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>