<?xml version="1.0" encoding="utf-8"?>
<Media Key="47f83e2e-6928-4f78-ac9d-7abf72248a5f" Alias="MauualMain.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/MauualMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T10:56:24</CreateDate>
    <NodeName Default="MauualMain.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uh0l32kb/mauualmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>