<?xml version="1.0" encoding="utf-8"?>
<Media Key="e41925e1-02fe-45c1-85b1-939802dbbafb" Alias="MengoorProf.jpg" Level="4">
  <Info>
    <Parent Key="5aaba777-8021-4440-a94d-0395ba98477c">Cra'adug and Mengoor</Parent>
    <Path>/Destiny/CourtOfOryx/CraadugAndMengoor/MengoorProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:17:27</CreateDate>
    <NodeName Default="MengoorProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n1xf4uux/mengoorprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>