<?xml version="1.0" encoding="utf-8"?>
<Media Key="b60fa92b-6d26-4f06-b7ac-968744f86416" Alias="MerokEirAscMain.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/MerokEirAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:36:41</CreateDate>
    <NodeName Default="MerokEirAscMain.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/urrfsacp/merokeirascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>