<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a2ed2d1-3194-4c31-9999-c1c9630fdc1d" Alias="MerokEirMatProf.jpg (1)" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/MerokEirMatProfjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:17:41</CreateDate>
    <NodeName Default="MerokEirMatProf.jpg (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lymgrlh3/merokeirmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>