<?xml version="1.0" encoding="utf-8"?>
<Media Key="7386feec-44e4-4681-9cf7-b7f02a9ac587" Alias="MerokEirMatMain.jpg (1)" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/MerokEirMatMainjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:14:26</CreateDate>
    <NodeName Default="MerokEirMatMain.jpg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mm0mbrmn/merokeirmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>