<?xml version="1.0" encoding="utf-8"?>
<Media Key="0852cdea-80ed-480c-82e4-96b5119f1120" Alias="MetalOverlordProf.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/MetalOverlordProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:15</CreateDate>
    <NodeName Default="MetalOverlordProf.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mudbjpue/metaloverlordprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>