<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2a585e0-3507-4935-8d85-4e98c18953b8" Alias="MightProf.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/MightProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:23:40</CreateDate>
    <NodeName Default="MightProf.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n3hpgzdo/mightprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>