<?xml version="1.0" encoding="utf-8"?>
<Media Key="17cc131c-c777-409d-8986-63c1a0c7e126" Alias="MinotaurProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/MinotaurProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:53:31</CreateDate>
    <NodeName Default="MinotaurProf.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/spmjvii4/minotaurprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>