<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cd5d466-a932-405f-bf2f-6501028876a0" Alias="MonsterBabyProf.jpg" Level="3">
  <Info>
    <Parent Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79">LittleNightmares</Parent>
    <Path>/Horror/LittleNightmares/MonsterBabyProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-27T10:31:08</CreateDate>
    <NodeName Default="MonsterBabyProf.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3epjhgs1/monsterbabyprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>