<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c62d913-7554-4371-b6bd-21225f2bd730" Alias="MorgethMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/MorgethMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="MorgethMatMain.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tqjdj4r3/morgethmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>