<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f691000-136f-4a9f-b77e-939f699ba075" Alias="MorgethMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/MorgethMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="MorgethMatProf.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r5nc5sig/morgethmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>