<?xml version="1.0" encoding="utf-8"?>
<Media Key="655f7edb-efe3-457f-ae91-2c887dc92bd9" Alias="MorphonProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/MorphonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:36:44</CreateDate>
    <NodeName Default="MorphonProf.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ks0btu2k/morphonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>