<?xml version="1.0" encoding="utf-8"?>
<Media Key="e54d8069-ac15-47cd-a542-7475251e6261" Alias="MorphonMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/MorphonMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:36:50</CreateDate>
    <NodeName Default="MorphonMain.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2zfawu12/morphonmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>