<?xml version="1.0" encoding="utf-8"?>
<Media Key="182cce8a-eda8-4970-add8-85141300ed81" Alias="MortarBlastMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/MortarBlastMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:51</CreateDate>
    <NodeName Default="MortarBlastMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aucgvlwb/mortarblastmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>