<?xml version="1.0" encoding="utf-8"?>
<Media Key="35383deb-d175-4467-a3e0-52aa610d5667" Alias="NaksisProf.jpg" Level="4">
  <Info>
    <Parent Key="4cc225fb-0b62-4924-9eb9-6475d3ba0c87">Barons</Parent>
    <Path>/Destiny/Fallen/Barons/NaksisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T16:13:20</CreateDate>
    <NodeName Default="NaksisProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mt1h3ay2/naksisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>