<?xml version="1.0" encoding="utf-8"?>
<Media Key="4075ae03-f25c-4073-a745-42c83ea5182f" Alias="NezarecProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/NezarecProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T01:42:38</CreateDate>
    <NodeName Default="NezarecProf.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rrsdh3rv/nezarecprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>