<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8b6af54-666e-40ef-abda-4f1de95a619f" Alias="NokrisMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/NokrisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T15:07:04</CreateDate>
    <NodeName Default="NokrisMain.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1nspaxqh/nokrismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>