<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5f74baa-60ee-4fd1-b317-f6611e2f785a" Alias="NumocProf.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/NumocProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T13:48:00</CreateDate>
    <NodeName Default="NumocProf.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ewalca2h/numocprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>