<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c98ded7-779a-4bf3-b2ab-1ed7266a6199" Alias="OgreMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/OgreMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T12:01:34</CreateDate>
    <NodeName Default="OgreMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lakn3kxt/ogremain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>