<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3774682-28e6-4ff8-996a-7dc56678af07" Alias="OgreProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/OgreProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T12:01:20</CreateDate>
    <NodeName Default="OgreProf.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bwgdcrmp/ogreprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>