<?xml version="1.0" encoding="utf-8"?>
<Media Key="78984778-133e-49a9-ac69-7420d708f83f" Alias="OmnigulProf.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/OmnigulProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:40:52</CreateDate>
    <NodeName Default="OmnigulProf.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/44gn3tsx/omnigulprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>