<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f0e8499-df11-40f9-b007-6da0246fb971" Alias="OntologyGroup.png" Level="3">
  <Info>
    <Parent Key="5fafc862-217a-4969-ad8e-87a67422c407">Primordial</Parent>
    <Path>/Destiny/Primordial/OntologyGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-09T11:20:08</CreateDate>
    <NodeName Default="OntologyGroup.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czherkly/ontologygroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>