<?xml version="1.0" encoding="utf-8"?>
<Media Key="2455afd2-4764-464a-b33f-5e3b6b57eb9a" Alias="OryxMatProf.jpg" Level="3">
  <Info>
    <Parent Key="82b4d067-e5b1-4729-9ec7-9bd4b633c39d">Oryx</Parent>
    <Path>/Destiny/Oryx/OryxMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T18:31:14</CreateDate>
    <NodeName Default="OryxMatProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lvsbheqn/oryxmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>