<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ea3a60e-f677-477a-bd94-c992b0a1e888" Alias="OryxAscMain.jpg" Level="3">
  <Info>
    <Parent Key="82b4d067-e5b1-4729-9ec7-9bd4b633c39d">Oryx</Parent>
    <Path>/Destiny/Oryx/OryxAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T19:17:21</CreateDate>
    <NodeName Default="OryxAscMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qfwolsa4/oryxascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>