<?xml version="1.0" encoding="utf-8"?>
<Media Key="82b4d067-e5b1-4729-9ec7-9bd4b633c39d" Alias="Oryx" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Oryx</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:15:13</CreateDate>
    <NodeName Default="Oryx" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>