<?xml version="1.0" encoding="utf-8"?>
<Media Key="22e72d6f-5869-4348-be93-f3eeb5ad4a04" Alias="OryxMatMain.jpg" Level="3">
  <Info>
    <Parent Key="82b4d067-e5b1-4729-9ec7-9bd4b633c39d">Oryx</Parent>
    <Path>/Destiny/Oryx/OryxMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T18:34:40</CreateDate>
    <NodeName Default="OryxMatMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2dtldfaa/oryxmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>