<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f4d568d-95f1-44bf-bfdd-6694a3aed425" Alias="OryxAscProf.jpg" Level="3">
  <Info>
    <Parent Key="82b4d067-e5b1-4729-9ec7-9bd4b633c39d">Oryx</Parent>
    <Path>/Destiny/Oryx/OryxAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T19:17:13</CreateDate>
    <NodeName Default="OryxAscProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/akoaxsmy/oryxascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>