<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9a0880c-0ec1-45a3-8a3d-729a7e55effc" Alias="PartheniosProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/PartheniosProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="PartheniosProf.jpg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qnbomt3i/partheniosprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>