<?xml version="1.0" encoding="utf-8"?>
<Media Key="31883792-edb4-4dd8-aa26-61e6cb4f52be" Alias="PaskinProf.jpg" Level="4">
  <Info>
    <Parent Key="4cc225fb-0b62-4924-9eb9-6475d3ba0c87">Barons</Parent>
    <Path>/Destiny/Fallen/Barons/PaskinProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T16:13:20</CreateDate>
    <NodeName Default="PaskinProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dx4n3b43/paskinprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>