<?xml version="1.0" encoding="utf-8"?>
<Media Key="e74f0b82-2672-498b-b38b-0ac6a6199887" Alias="PhalanxMain.jpg" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/PhalanxMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:52:53</CreateDate>
    <NodeName Default="PhalanxMain.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bxabsui1/phalanxmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>