<?xml version="1.0" encoding="utf-8"?>
<Media Key="943f64d0-0579-4fdb-a8b8-1dc4f3e2d58f" Alias="PhydronProf.jpg" Level="4">
  <Info>
    <Parent Key="1efe2cbc-7419-43f8-b496-5160c5a76faa">Gate Lords</Parent>
    <Path>/Destiny/Vex/GateLords/PhydronProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:17:44</CreateDate>
    <NodeName Default="PhydronProf.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l4xhsiqq/phydronprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>