<?xml version="1.0" encoding="utf-8"?>
<Media Key="84b3fd7b-7aae-44df-ac3b-91037b752ea8" Alias="PhydronMain.jpg" Level="4">
  <Info>
    <Parent Key="1efe2cbc-7419-43f8-b496-5160c5a76faa">Gate Lords</Parent>
    <Path>/Destiny/Vex/GateLords/PhydronMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:17:43</CreateDate>
    <NodeName Default="PhydronMain.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4q1pkmwh/phydronmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>