<?xml version="1.0" encoding="utf-8"?>
<Media Key="b939d031-7906-4e3e-976d-113e9428cbb8" Alias="PhylaksProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/PhylaksProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="PhylaksProf.jpg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xynh4d1p/phylaksprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>