<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ef37a0a-7306-4b21-937d-91aec90347e7" Alias="PhylaksMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/PhylaksMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="PhylaksMain.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qwyllwdp/phylaksmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>