<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f92bb54-9550-4add-91f8-1df95dfdebfd" Alias="Planeshifters" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-04-17T18:06:12</CreateDate>
    <NodeName Default="Planeshifters" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties />
</Media>