<?xml version="1.0" encoding="utf-8"?>
<Media Key="094531a2-6fb6-47d0-8bd1-d2f9efac8279" Alias="PlaneshiftersMatGroup.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/PlaneshiftersMatGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="PlaneshiftersMatGroup.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fx3bhp45/planeshiftersmatgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>