<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ce4439b-5ca8-4de5-8527-32a25149ee65" Alias="PraksisMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/PraksisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:34:41</CreateDate>
    <NodeName Default="PraksisMain.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cselfwwb/praksismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>