<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f7c36f-0415-49e5-b1af-e2aa8abea75e" Alias="PraumMain.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/PraumMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:51:03</CreateDate>
    <NodeName Default="PraumMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2aeldu12/praummain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>