<?xml version="1.0" encoding="utf-8"?>
<Media Key="307655e2-6fbe-4efb-8707-b1e1fc605d62" Alias="ProhibitiveProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/ProhibitiveProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T16:13:36</CreateDate>
    <NodeName Default="ProhibitiveProf.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nwpdbbwx/prohibitiveprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>