<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfbf9f61-6bd5-48d9-90cb-83d8190d8d80" Alias="ProtheonMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/ProtheonMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T14:22:31</CreateDate>
    <NodeName Default="ProtheonMain.jpg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3zkpscn2/protheonmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>