<?xml version="1.0" encoding="utf-8"?>
<Media Key="57769ab1-c043-4261-a393-33da43102d9c" Alias="PsionMain.jpg" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/PsionMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T00:54:19</CreateDate>
    <NodeName Default="PsionMain.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hzidbyjk/psionmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>