<?xml version="1.0" encoding="utf-8"?>
<Media Key="9812f2ee-875b-4a13-984c-11b685452207" Alias="PurtraProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/PurtraProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="PurtraProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/me2filrs/purtraprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>