<?xml version="1.0" encoding="utf-8"?>
<Media Key="30e8e5d3-e812-4c6d-b49b-4d85b695db99" Alias="PurtraMain.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/PurtraMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="PurtraMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lqxl3bt1/purtramain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>