<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ba45c75-e19b-4225-a2ab-f47a46f9aafb" Alias="QabixProf.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/QabixProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:27:37</CreateDate>
    <NodeName Default="QabixProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5kloflps/qabixprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>