<?xml version="1.0" encoding="utf-8"?>
<Media Key="d07ced52-f05a-4f2b-8329-d5e0816d387d" Alias="QuriaProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/QuriaProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:36:30</CreateDate>
    <NodeName Default="QuriaProf.jpg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1utduzrt/quriaprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>