<?xml version="1.0" encoding="utf-8"?>
<Media Key="3347c7fe-2ee2-4041-8ded-b9f61cee369f" Alias="QuriaMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/QuriaMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:36:30</CreateDate>
    <NodeName Default="QuriaMain.jpg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oegbdbml/quriamain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>