<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fdfdc19-2d13-4898-a71e-624131db3ff3" Alias="RedPillarProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/RedPillarProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:52</CreateDate>
    <NodeName Default="RedPillarProf.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/syljtcl0/redpillarprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>