<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc7a57d2-80f1-4d2d-a890-c818ff1218c4" Alias="ResonantSplinterMain.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/ResonantSplinterMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-10T14:43:24</CreateDate>
    <NodeName Default="ResonantSplinterMain.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lwody4uy/resonantsplintermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>