<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d4b2fee-c2fe-4e04-8f34-edf7e48355af" Alias="RhulkMain.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/RhulkMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T01:35:42</CreateDate>
    <NodeName Default="RhulkMain.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mhsb1k2x/rhulkmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>