<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa0835c6-6b44-4164-a91c-7355261e147f" Alias="RiksisMain.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/RiksisMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:56</CreateDate>
    <NodeName Default="RiksisMain.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jh5f2hbn/riksismain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>