<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee505dab-830f-4c4d-8592-51749d3a1f5f" Alias="RiksisProf.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/RiksisProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:56</CreateDate>
    <NodeName Default="RiksisProf.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eslbmwdg/riksisprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>