<?xml version="1.0" encoding="utf-8"?>
<Media Key="7102ab7c-405c-40a0-849b-eb6a7d2be2bb" Alias="SanctifiedProf.jpg" Level="4">
  <Info>
    <Parent Key="603c8709-37c5-4f2d-a2d8-0fac02a28e36">Sol Inherent</Parent>
    <Path>/Destiny/Vex/SolInherent/SanctifiedProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T14:16:24</CreateDate>
    <NodeName Default="SanctifiedProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4nqfjrzv/sanctifiedprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>