<?xml version="1.0" encoding="utf-8"?>
<Media Key="354663cc-debc-4806-bfef-3d1189b783e6" Alias="SardonProf.jpg" Level="4">
  <Info>
    <Parent Key="3abd51ad-47e1-4958-9bb6-f33bd1b64270">CrotaDisciples</Parent>
    <Path>/Destiny/Hive/CrotaDisciples/SardonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T00:28:46</CreateDate>
    <NodeName Default="SardonProf.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ioubba4v/sardonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>