<?xml version="1.0" encoding="utf-8"?>
<Media Key="a97e4b0a-c01d-4584-ba84-ad797c67b432" Alias="SardokMatMain.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/SardokMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:05</CreateDate>
    <NodeName Default="SardokMatMain.jpg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qwadqh1u/sardokmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>