<?xml version="1.0" encoding="utf-8"?>
<Media Key="14ab0aa3-85ea-47ab-87cd-8983cff34993" Alias="SarkoorMain.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/SarkoorMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="SarkoorMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ftao1iud/sarkoormain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>