<?xml version="1.0" encoding="utf-8"?>
<Media Key="676f8091-6336-4fd6-97e0-ec9b07ebb620" Alias="SarkoorProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/SarkoorProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="SarkoorProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dzfctuk5/sarkoorprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>