<?xml version="1.0" encoding="utf-8"?>
<Media Key="a12299bf-be8e-48ad-bc9a-02cabaad0307" Alias="SekrionTakenProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/SekrionTakenProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T19:20:01</CreateDate>
    <NodeName Default="SekrionTakenProf.jpg" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gbjhif5h/sekriontakenprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>