<?xml version="1.0" encoding="utf-8"?>
<Media Key="c097fea1-2d17-40d4-9dae-541ad27c0ba1" Alias="SekrionProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/SekrionProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T13:52:12</CreateDate>
    <NodeName Default="SekrionProf.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fy0nc3t4/sekrionprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>