<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8eb763e-6e1f-4b73-ac04-a0dd06ab4b47" Alias="SentinelsAscGroup.jpg" Level="5">
  <Info>
    <Parent Key="2c7c45b7-3219-4aed-a322-307e58510a4f">Sentinels</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels/SentinelsAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:56</CreateDate>
    <NodeName Default="SentinelsAscGroup.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wg4k05tw/sentinelsascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>