<?xml version="1.0" encoding="utf-8"?>
<Media Key="161cb270-018c-44f6-bb42-28fe18065738" Alias="SentinelsMatGroup.jpg" Level="5">
  <Info>
    <Parent Key="2c7c45b7-3219-4aed-a322-307e58510a4f">Sentinels</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels/SentinelsMatGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:56</CreateDate>
    <NodeName Default="SentinelsMatGroup.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/532fvihf/sentinelsmatgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>