<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c7c45b7-3219-4aed-a322-307e58510a4f" Alias="Sentinels" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-22T13:24:14</CreateDate>
    <NodeName Default="Sentinels" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>