<?xml version="1.0" encoding="utf-8"?>
<Media Key="51db2c8a-c7fb-4a0a-a3f1-bd82257fe1d6" Alias="SepiksMain.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/SepiksMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T23:17:08</CreateDate>
    <NodeName Default="SepiksMain.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/axtj1z2s/sepiksmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>