<?xml version="1.0" encoding="utf-8"?>
<Media Key="14bb622d-945f-4426-ad37-871033036aed" Alias="SepiksProf.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/SepiksProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T23:17:01</CreateDate>
    <NodeName Default="SepiksProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ukup1irw/sepiksprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>