<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d187a3c-9053-4e04-bf28-a37916449f00" Alias="Servitors" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/Servitors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T23:04:18</CreateDate>
    <NodeName Default="Servitors" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>