<?xml version="1.0" encoding="utf-8"?>
<Media Key="82cc4d43-017a-4f3a-9e85-04bebe8faa38" Alias="ShankProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/ShankProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:31:27</CreateDate>
    <NodeName Default="ShankProf.jpg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zsdjunat/shankprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>