<?xml version="1.0" encoding="utf-8"?>
<Media Key="64a26a04-a9cc-49e1-ad1c-ce07560db91c" Alias="ShankMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/ShankMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:31:27</CreateDate>
    <NodeName Default="ShankMain.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/roqojuvf/shankmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>