<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce312a83-7f5f-41d8-b114-2e7ff81b77e5" Alias="SharkMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SharkMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:53</CreateDate>
    <NodeName Default="SharkMain.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/btqho4bw/sharkmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>