<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfad4de3-b0c4-4ca5-b11b-57c533298e48" Alias="Simiks3Main.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/Simiks3Mainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:49:58</CreateDate>
    <NodeName Default="Simiks3Main.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nsdpw0nn/simiks3main.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>