<?xml version="1.0" encoding="utf-8"?>
<Media Key="04e951ec-113e-4598-b175-bd72fbeca084" Alias="Simiks3Prof.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/Simiks3Profjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:49:58</CreateDate>
    <NodeName Default="Simiks3Prof.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/monl5msx/simiks3prof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>