<?xml version="1.0" encoding="utf-8"?>
<Media Key="c67cc92c-b3f4-49eb-b42a-c0e603267ee3" Alias="SizmicMain.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/SizmicMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:50:20</CreateDate>
    <NodeName Default="SizmicMain.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/umbdu2e3/sizmicmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>