<?xml version="1.0" encoding="utf-8"?>
<Media Key="d46368f2-0819-46fc-940a-9610bd8e8c7f" Alias="SkiffMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/SkiffMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:52</CreateDate>
    <NodeName Default="SkiffMain.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pwrckytq/skiffmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>