<?xml version="1.0" encoding="utf-8"?>
<Media Key="931d29dc-1a32-4393-8214-fc6561d21e83" Alias="SkolasMain.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/SkolasMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T00:02:14</CreateDate>
    <NodeName Default="SkolasMain.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kprfwjk1/skolasmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>