<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd20a199-2706-4581-a164-d3186ba83580" Alias="SkolasProf.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/SkolasProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:56</CreateDate>
    <NodeName Default="SkolasProf.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czvhms1p/skolasprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>