<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1752cf6-d5de-43c4-93ee-ee62364c350c" Alias="SLEGroup.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/SLEGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T16:06:25</CreateDate>
    <NodeName Default="SLEGroup.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/phtdgb3x/slegroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>