<?xml version="1.0" encoding="utf-8"?>
<Media Key="603c8709-37c5-4f2d-a2d8-0fac02a28e36" Alias="Sol Inherent" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/SolInherent</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-23T14:14:24</CreateDate>
    <NodeName Default="Sol Inherent" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties />
</Media>