<?xml version="1.0" encoding="utf-8"?>
<Media Key="44c8eecd-5760-4eeb-a583-cf06edfc3838" Alias="SolarisProf.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/SolarisProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:15</CreateDate>
    <NodeName Default="SolarisProf.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iisi32qj/solarisprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>