<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f76111a-3bd9-46f9-9083-750715b63218" Alias="SoldierKronosMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SoldierKronosMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SoldierKronosMain.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sxndaonq/soldierkronosmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>