<?xml version="1.0" encoding="utf-8"?>
<Media Key="16be1f91-deec-480d-ae55-2865fcec8802" Alias="SoldierOuranosMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SoldierOuranosMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SoldierOuranosMain.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d1kprief/soldierouranosmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>