<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddbd0dc3-03fb-456b-a0f9-1d78273f780f" Alias="SoldierOuranosProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SoldierOuranosProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SoldierOuranosProf.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jtdpw02s/soldierouranosprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>