<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb842050-9f40-4e9f-aad4-8a57b3be41e0" Alias="SoldierAresProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SoldierAresProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:53</CreateDate>
    <NodeName Default="SoldierAresProf.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/15vmexjj/soldieraresprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>