<?xml version="1.0" encoding="utf-8"?>
<Media Key="7edbc0af-b7a5-4c6f-8b9f-ee933809ce43" Alias="SoldierAresMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SoldierAresMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:53</CreateDate>
    <NodeName Default="SoldierAresMain.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eafj1sgm/soldieraresmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>