<?xml version="1.0" encoding="utf-8"?>
<Media Key="639a059f-f6de-4885-ae92-104264257421" Alias="SolProgeny" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/SolProgeny</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-18T15:46:56</CreateDate>
    <NodeName Default="SolProgeny" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>