<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f403b3f-e3e5-41a3-a2af-3fb8b13b1f40" Alias="SonicClassicProf.jpg" Level="3">
  <Info>
    <Parent Key="6a054d73-4fa8-4294-b688-36f858dd7461">Sonic</Parent>
    <Path>/Sonic/Sonic/SonicClassicProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:07:36</CreateDate>
    <NodeName Default="SonicClassicProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wdybmkmm/sonicclassicprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>