<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaeba52f-38cf-4220-b3fd-112da2edfb71" Alias="SonicModernMain.jpg" Level="3">
  <Info>
    <Parent Key="6a054d73-4fa8-4294-b688-36f858dd7461">Sonic</Parent>
    <Path>/Sonic/Sonic/SonicModernMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:07:35</CreateDate>
    <NodeName Default="SonicModernMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ubxl0xfg/sonicmodernmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>