<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a054d73-4fa8-4294-b688-36f858dd7461" Alias="Sonic" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/Sonic</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-06T11:03:28</CreateDate>
    <NodeName Default="Sonic" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>