<?xml version="1.0" encoding="utf-8"?>
<Media Key="67be7b35-c020-49d2-b9cc-39f671b9c31e" Alias="SonicModernProf.jpg" Level="3">
  <Info>
    <Parent Key="6a054d73-4fa8-4294-b688-36f858dd7461">Sonic</Parent>
    <Path>/Sonic/Sonic/SonicModernProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:07:36</CreateDate>
    <NodeName Default="SonicModernProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xkyprukj/sonicmodernprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>