<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d4c91e2-2c2f-4818-a681-511cb172f060" Alias="SpiderMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SpiderMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SpiderMain.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nvnbuk0g/spidermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>