<?xml version="1.0" encoding="utf-8"?>
<Media Key="1174798f-5c45-4832-9eac-6a0f8fa8d8a8" Alias="SpiderProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SpiderProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SpiderProf.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aczdfjzm/spiderprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>