<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e141087-cae9-4141-9cf4-c40ad3dc2fd9" Alias="Splicers" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/Splicers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-24T10:34:58</CreateDate>
    <NodeName Default="Splicers" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>