<?xml version="1.0" encoding="utf-8"?>
<Media Key="c67082f7-9d98-4320-a240-b8973a9f7fff" Alias="SquidMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SquidMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SquidMain.jpg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pbedm2hr/squidmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>