<?xml version="1.0" encoding="utf-8"?>
<Media Key="f810b036-060f-4b33-9e54-e43fffefa265" Alias="SquidProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/SquidProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="SquidProf.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xf3fmttg/squidprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>