<?xml version="1.0" encoding="utf-8"?>
<Media Key="772621b2-7081-4a87-864c-dbe08b15a502" Alias="StriderMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/StriderMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="StriderMain.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hxvhbqpi/stridermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>