<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7f0dafd-4a48-42fa-a2a5-0102c257c544" Alias="StriderProf.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/StriderProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:54</CreateDate>
    <NodeName Default="StriderProf.jpg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oiilmyjb/striderprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>