<?xml version="1.0" encoding="utf-8"?>
<Media Key="85298fe4-1aff-430c-bfee-31cf600b0f10" Alias="SuperSonicMain.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/SuperSonicMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:13</CreateDate>
    <NodeName Default="SuperSonicMain.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nnch4m2w/supersonicmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>