<?xml version="1.0" encoding="utf-8"?>
<Media Key="492fba75-ee8a-4687-82ae-1436bb2afcba" Alias="SuperSonicProf.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/SuperSonicProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:13</CreateDate>
    <NodeName Default="SuperSonicProf.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5jygt55d/supersonicprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>