<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc383ed0-774b-4fc7-84d3-b982f50b862d" Alias="SupremeMain.png" Level="3">
  <Info>
    <Parent Key="133a5ab7-0102-4bc2-be2b-9bd593200fc3">Titans</Parent>
    <Path>/Sonic/Titans/SupremeMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:05:48</CreateDate>
    <NodeName Default="SupremeMain.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l50h2crc/suprememain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>