<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e566b47-c729-461b-add7-a3607b24df24" Alias="SurnonProf.jpg" Level="5">
  <Info>
    <Parent Key="6f92bb54-9550-4add-91f8-1df95dfdebfd">Planeshifters</Parent>
    <Path>/Destiny/Hive/Ascendants/Planeshifters/SurnonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T18:10:37</CreateDate>
    <NodeName Default="SurnonProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zcqbb4ca/surnonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>