<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3b5fe63-c888-4282-9690-41f530c7ebef" Alias="SwarmAscGroup.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/SwarmAscGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:36:41</CreateDate>
    <NodeName Default="SwarmAscGroup.jpg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3q0pgbpb/swarmascgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>