<?xml version="1.0" encoding="utf-8"?>
<Media Key="1257c943-2b82-4795-950a-d7fa81d6521b" Alias="Swarm Princes" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/SwarmPrinces</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-04T23:34:12</CreateDate>
    <NodeName Default="Swarm Princes" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>