<?xml version="1.0" encoding="utf-8"?>
<Media Key="b911df8c-a549-4a28-a892-f17faede86a6" Alias="SwarmGroup.jpg" Level="4">
  <Info>
    <Parent Key="1257c943-2b82-4795-950a-d7fa81d6521b">Swarm Princes</Parent>
    <Path>/Destiny/Hive/SwarmPrinces/SwarmGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T13:11:34</CreateDate>
    <NodeName Default="SwarmGroup.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/amkfodza/swarmgroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>