<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e7a9b5c-6d3d-4aed-be82-587ed3b736fc" Alias="SylokMatProf.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/SylokMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:35:41</CreateDate>
    <NodeName Default="SylokMatProf.jpg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0nidzccu/sylokmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>