<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cec25c7-7ba1-4932-8850-2b327ece8a49" Alias="TaaunMain.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/TaaunMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:33:57</CreateDate>
    <NodeName Default="TaaunMain.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jdxluowi/taaunmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>