<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce0fe40d-c0d8-4bd2-99f1-ad628a3d7d8a" Alias="TaaunHandAscMain.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/TaaunHandAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-17T17:46:27</CreateDate>
    <NodeName Default="TaaunHandAscMain.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qixes4fr/taaunhandascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>