<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcbd01a5-383b-482f-8a01-58efbb3bae54" Alias="TaaunHandMain.jpg" Level="4">
  <Info>
    <Parent Key="c65f8ffd-51f9-4360-b6c2-22ad460ba9fe">Hands of Oryx</Parent>
    <Path>/Destiny/Hive/HandsOfOryx/TaaunHandMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T14:40:03</CreateDate>
    <NodeName Default="TaaunHandMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/flfpwsss/taaunhandmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>