<?xml version="1.0" encoding="utf-8"?>
<Media Key="15ad1f77-afc9-4666-8127-582d8ee8f603" Alias="TaniksScarMain.jpg" Level="4">
  <Info>
    <Parent Key="6c324bbd-d423-477c-a4b7-264f1e19ec68">Elders</Parent>
    <Path>/Destiny/Fallen/Elders/TaniksScarMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:56</CreateDate>
    <NodeName Default="TaniksScarMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5dkpxi3a/taniksscarmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>