<?xml version="1.0" encoding="utf-8"?>
<Media Key="28cb2d55-7ae5-4790-bb88-75ade277f457" Alias="TaniksAbomMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/TaniksAbomMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-18T17:15:10</CreateDate>
    <NodeName Default="TaniksAbomMain.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1ltj1hum/taniksabommain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>