<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5940043-367f-41ac-9804-a415640f96c6" Alias="TankMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/TankMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:55</CreateDate>
    <NodeName Default="TankMain.jpg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ztfneqyw/tankmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>