<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ba10cd4-9a8b-4e72-ab3a-2088c2ee8fb0" Alias="TauughProf.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/TauughProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T10:47:27</CreateDate>
    <NodeName Default="TauughProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lpdop5pc/tauughprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>