<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d8cf1f6-bbb8-4737-98dd-26a6a2d7c1f5" Alias="TeacherProf.jpg" Level="3">
  <Info>
    <Parent Key="e1de2834-0b3c-4bc4-bb04-cf8fff256b79">LittleNightmares</Parent>
    <Path>/Horror/LittleNightmares/TeacherProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-27T09:43:34</CreateDate>
    <NodeName Default="TeacherProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pe3nv04r/teacherprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>