<?xml version="1.0" encoding="utf-8"?>
<Media Key="3509ecc7-9545-42b6-b91b-77c3dc6ab041" Alias="TeksisMatMain.jpg" Level="5">
  <Info>
    <Parent Key="2c7c45b7-3219-4aed-a322-307e58510a4f">Sentinels</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels/TeksisMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:56</CreateDate>
    <NodeName Default="TeksisMatMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jate5azm/teksismatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>