<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e7c5fa5-f495-46a4-a8d0-b7a117c37fa9" Alias="TeksisMatProf.jpg" Level="5">
  <Info>
    <Parent Key="2c7c45b7-3219-4aed-a322-307e58510a4f">Sentinels</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels/TeksisMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:56</CreateDate>
    <NodeName Default="TeksisMatProf.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fkkdv0h2/teksismatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>