<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bf5a2f4-ea3d-4738-8c44-8d01fb7b20e7" Alias="TektonMain.png" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/TektonMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-26T15:16:58</CreateDate>
    <NodeName Default="TektonMain.png" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pnulhxku/tektonmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>