<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e35e75c-5919-4321-afa7-975b1ff49d0a" Alias="TelthorProf.jpg" Level="4">
  <Info>
    <Parent Key="6cde2bac-6d72-4c98-b296-84428ea90b88">Unborns</Parent>
    <Path>/Destiny/Hive/Unborns/TelthorProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:04</CreateDate>
    <NodeName Default="TelthorProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0mwhhsdq/telthorprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>