<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4f7d936-f441-4f12-bbe3-aa7d0eff892b" Alias="TelthorMain.jpg" Level="4">
  <Info>
    <Parent Key="6cde2bac-6d72-4c98-b296-84428ea90b88">Unborns</Parent>
    <Path>/Destiny/Hive/Unborns/TelthorMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:04</CreateDate>
    <NodeName Default="TelthorMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xejlcari/telthormain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>