<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e43ec14-7f59-49fb-8245-816853c35683" Alias="TemplarProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/TemplarProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:30:37</CreateDate>
    <NodeName Default="TemplarProf.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tmtal4bq/templarprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>