<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cc62289-bc83-4856-888f-1bae8d54e01c" Alias="TemplarMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/TemplarMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T14:30:43</CreateDate>
    <NodeName Default="TemplarMain.jpg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a1uibcxk/templarmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>