<?xml version="1.0" encoding="utf-8"?>
<Media Key="cae026b1-9500-41ef-8f84-97041d169533" Alias="Thalnok" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Thalnok</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:45</CreateDate>
    <NodeName Default="Thalnok" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>