<?xml version="1.0" encoding="utf-8"?>
<Media Key="caa19b61-2f58-4b82-8706-b4ee2bc5214a" Alias="ThallyProf.jpg" Level="4">
  <Info>
    <Parent Key="cae026b1-9500-41ef-8f84-97041d169533">Thalnok</Parent>
    <Path>/Destiny/CourtOfOryx/Thalnok/ThallyProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:45</CreateDate>
    <NodeName Default="ThallyProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3zipo5br/thallyprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>