<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dfcf9ed-c91a-44d0-9eb0-e05e3a871df7" Alias="ThallyMain.jpg" Level="4">
  <Info>
    <Parent Key="cae026b1-9500-41ef-8f84-97041d169533">Thalnok</Parent>
    <Path>/Destiny/CourtOfOryx/Thalnok/ThallyMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T18:18:45</CreateDate>
    <NodeName Default="ThallyMain.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mizlvw1t/thallymain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>