<?xml version="1.0" encoding="utf-8"?>
<Media Key="a012652a-2576-486b-af84-225b82738ab2" Alias="TharumMain.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/TharumMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:51:03</CreateDate>
    <NodeName Default="TharumMain.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uwxfifq5/tharummain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>