<?xml version="1.0" encoding="utf-8"?>
<Media Key="8be09b5b-117e-4bc2-847a-0fbd022de08b" Alias="Theosyion" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/Theosyion</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-29T23:06:00</CreateDate>
    <NodeName Default="Theosyion" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>