<?xml version="1.0" encoding="utf-8"?>
<Media Key="de315c79-f1ad-4e73-a526-675dcef0fe64" Alias="TheosyionMain.jpg" Level="4">
  <Info>
    <Parent Key="8be09b5b-117e-4bc2-847a-0fbd022de08b">Theosyion</Parent>
    <Path>/Destiny/Vex/Theosyion/TheosyionMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T23:08:07</CreateDate>
    <NodeName Default="TheosyionMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/40lho0ge/theosyionmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>