<?xml version="1.0" encoding="utf-8"?>
<Media Key="b91471ff-7d55-4b16-8708-1fceb5a89fe5" Alias="TheosyionProf.jpg" Level="4">
  <Info>
    <Parent Key="8be09b5b-117e-4bc2-847a-0fbd022de08b">Theosyion</Parent>
    <Path>/Destiny/Vex/Theosyion/TheosyionProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T13:28:32</CreateDate>
    <NodeName Default="TheosyionProf.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/oc3fedz2/theosyionprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>