<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9332047-31b6-4082-9c5a-0b64a056f524" Alias="ThoourgMain.jpg" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/ThoourgMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T13:30:10</CreateDate>
    <NodeName Default="ThoourgMain.jpg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zdvhk145/thoourgmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>