<?xml version="1.0" encoding="utf-8"?>
<Media Key="a070fa50-4ed1-4064-bb41-c32a28a610bf" Alias="ThrallMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/ThrallMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:47:14</CreateDate>
    <NodeName Default="ThrallMain.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/12ydmfvy/thrallmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>