<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2192266-36fb-4867-b808-2dcbf1f2dc6f" Alias="ThresherMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/ThresherMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:52</CreateDate>
    <NodeName Default="ThresherMain.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3huf4ves/threshermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>