<?xml version="1.0" encoding="utf-8"?>
<Media Key="f76a0ea6-5a22-4bc7-881b-9d810f5cd0e0" Alias="ThuunMain.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/ThuunMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:03:55</CreateDate>
    <NodeName Default="ThuunMain.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fhccyqkl/thuunmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>