<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ed83c85-466d-439a-9072-d70055d3f034" Alias="ThuunProf.jpg" Level="4">
  <Info>
    <Parent Key="131d72ea-5f0c-49e0-b203-0e462b8e5e36">Elites</Parent>
    <Path>/Destiny/Cabal/Elites/ThuunProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:03:48</CreateDate>
    <NodeName Default="ThuunProf.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bl1j2oae/thuunprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>