<?xml version="1.0" encoding="utf-8"?>
<Media Key="768521ee-4d93-4f5f-aa3b-f583db27ebfd" Alias="TimeEaterMain.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/TimeEaterMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:13</CreateDate>
    <NodeName Default="TimeEaterMain.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mhvnhqh0/timeeatermain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>