<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaab64a7-3b9c-449e-a54c-188739ffd7e9" Alias="TitanMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/TitanMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:21:47</CreateDate>
    <NodeName Default="TitanMain.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fcxo0xhv/titanmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>