<?xml version="1.0" encoding="utf-8"?>
<Media Key="006239d5-507f-4862-a524-b69e52db8d20" Alias="TitanProf.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/TitanProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:21:39</CreateDate>
    <NodeName Default="TitanProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/llzdjnqw/titanprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>