<?xml version="1.0" encoding="utf-8"?>
<Media Key="90e5dffb-ed3a-4598-9a9f-ffe6cf760052" Alias="ToniqMain.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/ToniqMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:50</CreateDate>
    <NodeName Default="ToniqMain.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oqklgjst/toniqmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>