<?xml version="1.0" encoding="utf-8"?>
<Media Key="802cb6fd-c93b-40e7-a184-8a51b7503068" Alias="ToniqProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/ToniqProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:50</CreateDate>
    <NodeName Default="ToniqProf.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oj4gunss/toniqprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>