<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c366a10-7c9a-4cd8-b3af-ee8fc27cdf7c" Alias="TowerMain.jpg" Level="3">
  <Info>
    <Parent Key="1017e105-f03a-42d7-a526-97987ae57d2c">Guardians</Parent>
    <Path>/Sonic/Guardians/TowerMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-06T11:24:55</CreateDate>
    <NodeName Default="TowerMain.jpg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t4qhbkxt/towermain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>