<?xml version="1.0" encoding="utf-8"?>
<Media Key="14c02e2b-a2fc-4922-a561-921d40b2065a" Alias="TriuneGroup.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/TriuneGroupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T22:22:27</CreateDate>
    <NodeName Default="TriuneGroup.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/utsiniuv/triunegroup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>