<?xml version="1.0" encoding="utf-8"?>
<Media Key="be6d12ea-859c-4337-a2d8-889c06fb91d0" Alias="TwoSupersMain.png" Level="2">
  <Info>
    <Parent Key="f52c90f1-c13c-4793-a135-08be4d1d8529">Sonic</Parent>
    <Path>/Sonic/TwoSupersMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-20T17:47:14</CreateDate>
    <NodeName Default="TwoSupersMain.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mxmcwchv/twosupersmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>