<?xml version="1.0" encoding="utf-8"?>
<Media Key="80507816-a7a5-417a-aa34-41dbd8cdee1f" Alias="UbaraMatProf.png" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/UbaraMatProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:05</CreateDate>
    <NodeName Default="UbaraMatProf.png" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tgzbmnwm/ubaramatprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>