<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cde2bac-6d72-4c98-b296-84428ea90b88" Alias="Unborns" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/Unborns</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-20T13:15:43</CreateDate>
    <NodeName Default="Unborns" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>