<?xml version="1.0" encoding="utf-8"?>
<Media Key="d28889b3-0cbf-4fdb-b150-07b4a9cb5f1f" Alias="UnbornProf.jpg" Level="4">
  <Info>
    <Parent Key="6cde2bac-6d72-4c98-b296-84428ea90b88">Unborns</Parent>
    <Path>/Destiny/Hive/Unborns/UnbornProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:16:04</CreateDate>
    <NodeName Default="UnbornProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hrbn2zgw/unbornprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>