<?xml version="1.0" encoding="utf-8"?>
<Media Key="774c62d6-1d39-491a-999a-05258cecdfed" Alias="UndyingMain.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/UndyingMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:50:12</CreateDate>
    <NodeName Default="UndyingMain.jpg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lguavqkq/undyingmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>