<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6ff4c1e-5c4a-43b9-b538-627fbf67ffcb" Alias="UndyingProf.jpg" Level="3">
  <Info>
    <Parent Key="3f310110-53b7-41fa-9d02-ee358a435691">Vex</Parent>
    <Path>/Destiny/Vex/UndyingProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:50:03</CreateDate>
    <NodeName Default="UndyingProf.jpg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sgdlsebd/undyingprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>