<?xml version="1.0" encoding="utf-8"?>
<Media Key="05dc3a65-90ad-4f1d-952f-4a1ed54b47dd" Alias="UrroxMatProf.jpg" Level="4">
  <Info>
    <Parent Key="6698e54f-f495-4356-9881-db78a8ee360c">Ascendants</Parent>
    <Path>/Destiny/Hive/Ascendants/UrroxMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-25T13:53:05</CreateDate>
    <NodeName Default="UrroxMatProf.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3lyjvm4e/urroxmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>