<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae261264-40a1-4da1-9ec0-5398d5888c5b" Alias="ValbelyxMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/ValbelyxMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:26</CreateDate>
    <NodeName Default="ValbelyxMatMain.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3pmgaggi/valbelyxmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>