<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b03dc13-1476-4d49-8264-d559b214b309" Alias="ValbhoProf.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/ValbhoProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T09:51:04</CreateDate>
    <NodeName Default="ValbhoProf.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tqlelli5/valbhoprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>