<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3977d3c-de5d-41e6-ab0c-cde8c9397a92" Alias="ValbelyxMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/ValbelyxMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:26</CreateDate>
    <NodeName Default="ValbelyxMatProf.jpg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wo1ncrju/valbelyxmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>