<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2e356c3-4508-4d01-bb6a-5a91ff3f4555" Alias="Vals" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/Vals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-06T01:20:23</CreateDate>
    <NodeName Default="Vals" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>