<?xml version="1.0" encoding="utf-8"?>
<Media Key="a53ddc90-a007-488a-a8e6-f153b33bbe78" Alias="VandalMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/VandalMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="VandalMain.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d2lhwe1o/vandalmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>