<?xml version="1.0" encoding="utf-8"?>
<Media Key="bac45903-9d5d-4860-a094-cf40fb15d004" Alias="VandalProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/VandalProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="VandalProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rsjjedbu/vandalprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>