<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb7cdf29-fc38-4976-9ed4-4b9457b1568e" Alias="VarghulMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/VarghulMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="VarghulMatProf.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uykdutkr/varghulmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>