<?xml version="1.0" encoding="utf-8"?>
<Media Key="908e1d94-dca6-4097-bc20-94bd889d94a8" Alias="VarghulMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/VarghulMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:26</CreateDate>
    <NodeName Default="VarghulMatMain.jpg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dplnqjwp/varghulmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>