<?xml version="1.0" encoding="utf-8"?>
<Media Key="898d6f81-1431-43f0-8a42-8d568cb89d3a" Alias="VatchProf.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/VatchProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T13:45:36</CreateDate>
    <NodeName Default="VatchProf.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b0snwp0y/vatchprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>