<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc1bc40b-858e-4ded-809f-51b81e3b6e19" Alias="VatchMain.jpg" Level="4">
  <Info>
    <Parent Key="3893569a-9f05-4280-b632-d6d8a3f48ea1">Psions</Parent>
    <Path>/Destiny/Cabal/Psions/VatchMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:22:53</CreateDate>
    <NodeName Default="VatchMain.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qqhf0cxh/vatchmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>