<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e345139-5f05-4305-9198-4c80d67bfb74" Alias="VendraxisMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/VendraxisMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="VendraxisMatMain.jpg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w0nhfgdm/vendraxismatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>