<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a4da8e9-c7db-4d9f-9327-fc0e0cbf0eb0" Alias="VendraxisMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/VendraxisMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:37:27</CreateDate>
    <NodeName Default="VendraxisMatProf.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mzraxlfs/vendraxismatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>