<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f310110-53b7-41fa-9d02-ee358a435691" Alias="Vex" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Vex</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-29T23:05:43</CreateDate>
    <NodeName Default="Vex" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>