<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ac27953-e8b1-4f40-86ad-f960e247db46" Alias="VoiceMatProf.jpg" Level="5">
  <Info>
    <Parent Key="dfc2777c-4b39-4f0b-a8e1-ce4f5128d77d">Chimeras</Parent>
    <Path>/Destiny/Hive/Ascendants/Chimeras/VoiceMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-31T13:47:01</CreateDate>
    <NodeName Default="VoiceMatProf.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1szjjpgy/voicematprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>