<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f595589-aa50-4f6e-8b7a-198d5a24beb7" Alias="VorgethAscMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/VorgethAscMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-19T17:40:49</CreateDate>
    <NodeName Default="VorgethAscMain.jpg" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a0pb5cjz/vorgethascmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>