<?xml version="1.0" encoding="utf-8"?>
<Media Key="9945d8b5-9dd2-4a06-8a5c-3b59683cdc2c" Alias="Vorlog" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Vorlog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:49</CreateDate>
    <NodeName Default="Vorlog" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>