<?xml version="1.0" encoding="utf-8"?>
<Media Key="c33ffa95-4356-4de3-906c-7517f5851c87" Alias="VorlogProf.jpg" Level="4">
  <Info>
    <Parent Key="9945d8b5-9dd2-4a06-8a5c-3b59683cdc2c">Vorlog</Parent>
    <Path>/Destiny/CourtOfOryx/Vorlog/VorlogProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T13:23:39</CreateDate>
    <NodeName Default="VorlogProf.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/diyhs3j5/vorlogprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>