<?xml version="1.0" encoding="utf-8"?>
<Media Key="d98587dc-d210-43dc-882a-f05c04049538" Alias="WalkerProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/WalkerProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="WalkerProf.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kngng11z/walkerprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>