<?xml version="1.0" encoding="utf-8"?>
<Media Key="bce1af83-ae90-4c9c-b95b-3535cb82e1e9" Alias="WalkerGunMain.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/WalkerGunMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:52</CreateDate>
    <NodeName Default="WalkerGunMain.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/brslocxz/walkergunmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>