<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a6af035-5408-4187-88bc-e6968d646d8c" Alias="WalkerGunProf.jpg" Level="3">
  <Info>
    <Parent Key="05fe44ee-cf38-443c-aa1f-9c465b1ee957">Other</Parent>
    <Path>/Destiny/Other/WalkerGunProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:13:51</CreateDate>
    <NodeName Default="WalkerGunProf.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xi3cypdb/walkergunprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>