<?xml version="1.0" encoding="utf-8"?>
<Media Key="3580352b-8d3a-4801-a875-c939ef1caca4" Alias="WardenMain.jpg" Level="4">
  <Info>
    <Parent Key="96c7e306-97d6-4d3d-a165-ddf0490dc1ba">Shadow Legion Elites</Parent>
    <Path>/Destiny/Cabal/ShadowLegionElites/WardenMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:18:00</CreateDate>
    <NodeName Default="WardenMain.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ut5nna0t/wardenmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>