<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e0e15b5-b8f7-4724-bf78-d5989db52dda" Alias="WardenProf.jpg" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/WardenProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-12T17:17:35</CreateDate>
    <NodeName Default="WardenProf.jpg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hlpfrce4/wardenprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>