<?xml version="1.0" encoding="utf-8"?>
<Media Key="08102017-890a-403b-8fd7-72910836a83a" Alias="WarpWeft" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/WarpWeft</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-27T15:06:42</CreateDate>
    <NodeName Default="WarpWeft" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties />
</Media>