<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e4364e-b182-49b7-97af-c861c4313689" Alias="WarpMain.jpg" Level="4">
  <Info>
    <Parent Key="08102017-890a-403b-8fd7-72910836a83a">WarpWeft</Parent>
    <Path>/Destiny/Hive/WarpWeft/WarpMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T15:09:37</CreateDate>
    <NodeName Default="WarpMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yh4kejpl/warpmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>