<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dc2ad6c-2f08-40d0-b4b6-4ea6d255aba1" Alias="WarpWeftGroup.png" Level="4">
  <Info>
    <Parent Key="08102017-890a-403b-8fd7-72910836a83a">WarpWeft</Parent>
    <Path>/Destiny/Hive/WarpWeft/WarpWeftGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T15:06:54</CreateDate>
    <NodeName Default="WarpWeftGroup.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ntjjs1b/warpweftgroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>