<?xml version="1.0" encoding="utf-8"?>
<Media Key="597bf5cb-428f-4ec8-b9d0-83795afd078c" Alias="Warpriest" Level="3">
  <Info>
    <Parent Key="8c15e8ea-9bbf-4ed3-99b7-ed4c75c56ee1">CourtOfOryx</Parent>
    <Path>/Destiny/CourtOfOryx/Warpriest</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T18:18:53</CreateDate>
    <NodeName Default="Warpriest" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>