<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b79bbee-1d98-45ca-9550-d41f8a1c9052" Alias="WarpProf.png" Level="4">
  <Info>
    <Parent Key="08102017-890a-403b-8fd7-72910836a83a">WarpWeft</Parent>
    <Path>/Destiny/Hive/WarpWeft/WarpProfpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T15:09:13</CreateDate>
    <NodeName Default="WarpProf.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mfyd4lpr/warpprof.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>