<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9" Alias="Witness" Level="2">
  <Info>
    <Parent Key="6938362f-1352-463c-a23c-bf70da7463e6">Destiny</Parent>
    <Path>/Destiny/Witness</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-29T21:57:35</CreateDate>
    <NodeName Default="Witness" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>