<?xml version="1.0" encoding="utf-8"?>
<Media Key="a86bf41d-5b98-4ed7-9586-cd1862d17e26" Alias="WitnessFinalProf.jpg" Level="3">
  <Info>
    <Parent Key="d6aed4ac-49c8-44a3-a2c2-79892dcf88a9">Witness</Parent>
    <Path>/Destiny/Witness/WitnessFinalProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-29T22:00:19</CreateDate>
    <NodeName Default="WitnessFinalProf.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/si5c0hxr/witnessfinalprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>