<?xml version="1.0" encoding="utf-8"?>
<Media Key="459b9227-ce3b-4690-9e3c-7153602953c3" Alias="WizardProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/WizardProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:58:12</CreateDate>
    <NodeName Default="WizardProf.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vbmn120s/wizardprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>