<?xml version="1.0" encoding="utf-8"?>
<Media Key="c01f0701-da7a-4c3e-90c7-87d2574bb6e6" Alias="WizardMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/WizardMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-10T11:58:18</CreateDate>
    <NodeName Default="WizardMain.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r1gfs3qt/wizardmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>