<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f8b1625-8f3b-4373-9985-3dfae9b6f580" Alias="WretchProf.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/WretchProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="WretchProf.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vlom1sks/wretchprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>