<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ffb5d2c-46c6-4f48-a0fe-3205f7b4ec04" Alias="WretchMain.jpg" Level="3">
  <Info>
    <Parent Key="70f21b23-7d59-4f13-94fa-565803b72faf">Fallen</Parent>
    <Path>/Destiny/Fallen/WretchMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T14:00:11</CreateDate>
    <NodeName Default="WretchMain.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uoll0onp/wretchmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>