<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a6f0027-61f8-4ba4-8f7d-52e800377df2" Alias="XarasMatMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/XarasMatMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:36:30</CreateDate>
    <NodeName Default="XarasMatMain.jpg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vdfctter/xarasmatmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>