<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcca4e9b-c13c-4baf-8f4d-f66b5c959849" Alias="XarasMatProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/XarasMatProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-27T14:36:30</CreateDate>
    <NodeName Default="XarasMatProf.jpg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/csciycsv/xarasmatprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>