<?xml version="1.0" encoding="utf-8"?>
<Media Key="845ce745-1d74-4242-964c-16c851e8ff11" Alias="XivuUniversals" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/XivuUniversals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T01:26:26</CreateDate>
    <NodeName Default="XivuUniversals" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>