<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4f279a6-8a8d-4547-b605-2b90c69f23ed" Alias="YamaatAscProf.jpg" Level="5">
  <Info>
    <Parent Key="2c7c45b7-3219-4aed-a322-307e58510a4f">Sentinels</Parent>
    <Path>/Destiny/Hive/Ascendants/Sentinels/YamaatAscProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-22T13:35:56</CreateDate>
    <NodeName Default="YamaatAscProf.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fgzliuxe/yamaatascprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>