<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbdb5bd9-2255-4c55-8405-ee143d7cd2c7" Alias="YamiksMain.jpg" Level="4">
  <Info>
    <Parent Key="3d187a3c-9053-4e04-bf28-a37916449f00">Servitors</Parent>
    <Path>/Destiny/Fallen/Servitors/YamiksMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T23:09:48</CreateDate>
    <NodeName Default="YamiksMain.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k0ij01j2/yamiksmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>