<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ee417a4-0431-4a45-9681-4cc24e8346dd" Alias="ZeteonProf.jpg" Level="4">
  <Info>
    <Parent Key="1efe2cbc-7419-43f8-b496-5160c5a76faa">Gate Lords</Parent>
    <Path>/Destiny/Vex/GateLords/ZeteonProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T13:17:42</CreateDate>
    <NodeName Default="ZeteonProf.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fpolfkcy/zeteonprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>