<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5507332-90a0-415b-9f22-a14b4cc898e9" Alias="ZoaurcMain.jpg" Level="3">
  <Info>
    <Parent Key="adb48bdc-ef54-4318-ad8c-76f9c5753b7b">Cabal</Parent>
    <Path>/Destiny/Cabal/ZoaurcMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T01:02:17</CreateDate>
    <NodeName Default="ZoaurcMain.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xw2bma4j/zoaurcmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>