<?xml version="1.0" encoding="utf-8"?>
<Media Key="92bd4885-74e8-41df-94ff-18cd0f6fbb10" Alias="ZulmakProf.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/ZulmakProfjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T15:23:25</CreateDate>
    <NodeName Default="ZulmakProf.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bkbpwjeb/zulmakprof.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>