<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d7cc227-84c6-446c-ac93-af47b18e869b" Alias="ZulmakMain.jpg" Level="3">
  <Info>
    <Parent Key="e8ae6493-959c-4c96-9025-84ff6255f97c">Hive</Parent>
    <Path>/Destiny/Hive/ZulmakMainjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-22T15:23:35</CreateDate>
    <NodeName Default="ZulmakMain.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vaedvw3p/zulmakmain.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>