<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c896817-b229-4748-afb9-f576788ef70a" Alias="Franchise Options" Level="1">
  <Info>
    <Name>Franchise Options</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "All",
    "Destiny",
    "LittleNightmares",
    "STARWARS",
    "Sonic",
    "Marvel",
    "FNaF"
  ]
}]]></Config>
</DataType>