<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c90d65f-4f8e-445b-b445-ff884db9d372" Alias="Item Settings - Energy Multiplicator - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Item Settings - Energy Multiplicator - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>