<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1cef1e7b-bd09-4276-be5b-98e3d3f85335" Alias="Item Settings - Minimum" Level="1">
  <Info>
    <Name>Item Settings - Minimum</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Minimum"
  ]
}]]></Config>
</DataType>