<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20c80a78-418f-4a33-a15d-1fd68a11388e" Alias="Item Settings - Tiers - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Item Settings - Tiers - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Below Infinite",
    "Infinite Universe Level",
    "Timeline Level",
    "Multiverse Level",
    "Infinite Multiverse Level",
    "Higher Dimensions Level",
    "Infinite Dimensions Level",
    "Super-Dimensional Level",
    "Boundless"
  ]
}]]></Config>
</DataType>