<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0593085c-de5a-48f6-be5a-20445badb320" Alias="RankingsList" Level="1">
  <Info>
    <Name>RankingsList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6f386c25-c5f7-4cc6-8761-a63a480078ba",
      "settingsElementTypeKey": "0255723a-93d7-44f0-846c-23ceb877b4cd",
      "label": "{umbValue: characterName} - {umbValue: characterVariant} "
    }
  ]
}]]></Config>
</DataType>